<div class="pkz_box">
  <%= model_selector(@knowledge, :questions) %>
    <div class="pkz_main">
      <% for question in @knowledge.questions %>
        <div class="pkz_item_list">
            <%= link_to(question.label, "/questions/#{@knowledge.idurl}/#{question.idurl}") %>
            <%= question.is_choice_exclusive ? "{" : "[" %>
            <%= question.choices.collect(&:label).join(', ') %>
            <%= question.is_choice_exclusive ? "}" : "]" %>
            <br/>
            <small>
                weight=<%= question.weight %>
                <% standard_deviation, nb, mean = question.discrimination(nil, @products_idurls) %>
                ,&nbsp;discrimination=[
                standard_deviation=<%=  "%5.2f" % standard_deviation %>
                ,&nbsp;nb=<%=  "%5d" % nb %>
                ,&nbsp;mean=<%= "%5.2f" % mean %>]
            </small>
        </div>
      <% end %>
    </div>
</div>
