<div class="pkz_box">
  <%= model_selector(@knowledge, :questions) %>
    <div class="pkz_main">
      <% for question in @knowledge.questions %>
        <div class="pkz_item_list">
            <%= render(:partial => "questions/short", :locals => {:knowledge => @knowledge, :question => question }) %>
            <br/>
            <small>
                weight=<%= question.weight %>
                <% standard_deviation, nb, mean = question.discrimination(nil, @products_idurls) %>
                ,&nbsp;discrimination=[
                standard_deviation=<%=  "%5.2f" % standard_deviation %>
                ,&nbsp;nb=<%=  "%5d" % nb %>
                ,&nbsp;mean=<%= "%5.2f" % mean %>]
            </small>
        </div>
      <% end %>
    </div>
</div>
