
      <%= link_to("back to quiz", "/myquizze/#{@current_knowledge.idurl}/#{@quizze.idurl}")   %>

      <table border=1>
          <tr>
            <th>Question/anwsers</th>
            <% for affinity in @sorted_affinities %>
                <th valign="top">
                  <div style="width:80px; overflow:hidden;">
                  #<%= affinity.ranking %>
                  <div style="font-size:80%">
                    <%= @current_knowledge.get_product_by_idurl(affinity.product_idurl).label %></div>
                  </div>
                </th>
            <% end %>
          </tr>



          <!-- explanations[product_idurl]["aggregated_dimensions"][:sum | :percentage] -->
          <!-- explanations[product_idurl]["dimension_#{dimension}"][:sum | :percentage] -->
          <!-- explanations[product_idurl][question_idurl][:sum | :percentage] -->
          <!-- hash_dimension2answers[dimension] => list of answers -->

          <tr>
            <th >Sum</th>
            <% for affinity in @sorted_affinities %>
                <th align="center">
                  <%= @explanations[affinity.product_idurl]["aggregated_dimensions"][:sum] %>
                  <br/>
                  <%= Root.as_percentage(@explanations[affinity.product_idurl]["aggregated_dimensions"][:percentage]) %>
                </th>
            <% end %>
          </tr>

          <% for dimension, answers in @hash_dimension2answers %>
              <tr style="background-color:yellow;">
                <td><%= dimension %></td>
                <% for affinity in @sorted_affinities %>
                    <td align="center">
                      <%= @explanations[affinity.product_idurl]["dimension_#{dimension}"][:sum] %>
                      <br/>
                      <%= Root.as_percentage(@explanations[affinity.product_idurl]["dimension_#{dimension}"][:percentage]) %>
                    </td>
                <% end %>
              </tr>
              <% for answer in answers %>
                <% if answer.has_opinion? %>
                    <% question = @current_knowledge.get_question_by_idurl(answer.question_idurl) %>
                    <% choices_ok = question.get_choice_ok_from_idurls(answer.choice_idurls_ok) %>
                    <tr>
                        <td>
                            <div style="width:200px;" title="weight=<%= '%2.1f' % question.weight %>, min-max<%= @hash_question_idurl2min_max_weight[answer.question_idurl].inspect %>">
                                <%= question.to_html(choices_ok) %>
                                <span style="font-weight:bold; font-size:80%;">w=<%= question.weight %></span>
                            </div>
                        </td>
                        <% for affinity in @sorted_affinities %>
                            <td align="center">
                              <%= @explanations[affinity.product_idurl][answer.question_idurl][:sum] %>
                              <br/>
                              <%= Root.as_percentage(@explanations[affinity.product_idurl][answer.question_idurl][:percentage]) %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
              <% end %>
          <% end %>
      </table>

