
<script>
  function tr_arrow(p_idurl, weight)
  {
    var textWeight = " ";
    var textColor = "white";
    if (weight > 0) {
        textWeight = '+' + weight;
        textColor = "green";
    }
    if (weight < 0) {
        textWeight = weight;
        textColor = "red" ;
    }
    document.getElementById('weight_' + p_idurl).childNodes[0].nodeValue = textWeight  ;
    document.getElementById('weight_' + p_idurl).style.backgroundColor = textColor ;
   }

  function clean_up_arrows()
  {
      <%= @quizze.products.collect { |product| "clean_up_one_arrow('#{product.idurl}');"}.join(' ') %>
  }


  function clean_up_one_arrow(p_idurl)
  {
    document.getElementById('weight_' + p_idurl).childNodes[0].nodeValue = " "  ;
    document.getElementById('weight_' + p_idurl).style.backgroundColor = "white" ;
  }
</script>

<div class="pkz_box">

  <%= model_selector(@knowledge, :quizzes) %>



<div class="pkz_main">
  <% if next_question = @current_user.get_next_question(@knowledge, @quizze) %>

    <!-- the form -->
    <% type_selector = next_question.is_choice_exclusive ? "radio" : "checkbox" %>
    <% form_tag "/answer", :style => "margin-bottom:10px;" do -%>
      <%= hidden_field_tag "user_idurl", @current_user.idurl %>
      <%= hidden_field_tag "knowledge_idurl", @knowledge.idurl %>
      <%= hidden_field_tag "quizze_idurl", @quizze.idurl %>
      <%= hidden_field_tag "question_idurl", next_question.idurl %>
      <div style="font-weight:bold; margin:5px;"><%= link_to(next_question.label, "/questions/#{@knowledge.idurl}/#{next_question.idurl}") %></div>
      <% for choice in next_question.choices %>
          <% if next_question.is_choice_exclusive %>
            <%= radio_button_tag "choices_idurls_ok[]", choice.idurl %>
          <% else %>
            <%= check_box_tag "choices_idurls_ok[]", choice.idurl %>
          <% end %>
          <%= choice.label %>&nbsp;&nbsp;
      <% end %>
      <%= submit_tag "next" %>
    <% end -%>

  <% else %>
    no more question for this quiz/user
  <% end %>
</div>

<div class="pkz_main">
  <table><tr><td width="50%" valign="top">
      <ul>
      <% for affinity in @quizze_instance.sorted_affinities %>
          <li id="product_<%= affinity.product_idurl %>">

          #<%= affinity.ranking %>
          <span id="weight_<%= affinity.product_idurl %>" style="border:1px solid white;">&nbsp;</span>
          <%= affinity.product_idurl %>&nbsp;
          <small>affinity=<%= "%3d" % (affinity.measure * 100) %>%,&nbsp;confidence=<%= "% 3d" % (affinity.confidence * 100) %>%</small>
          &nbsp;
          </li>
      <% end %>
      </ul>
  </td><td width="50%" valign="top">
      <%= pluralize(@quizze_instance.nb_answers, "answer") %> so far
      <% for question in @knowledge.questions_sorted(@quizze.products, @current_user) %>
          <% if answered_choice_idurls = @quizze_instance.user_last_answer_choice_idurls_ok(question.idurl) %>
              <%= render(:partial => "quizzes/question",
                         :locals => { :answered_choice_idurls => answered_choice_idurls,
                                      :current_ar_user => @current_user,
                                      :quizze => @quizze,
                                      :knowledge => @knowledge,
                                      :question => question })%>
          <% end %>
      <% end %>

      <% for question in @knowledge.questions_sorted(@quizze.products, @current_user) %>
          <% unless answered_choice_idurls = @quizze_instance.user_last_answer_choice_idurls_ok(question.idurl) %>
              <%= render(:partial => "quizzes/question",
                         :locals => { :answered_choice_idurls => answered_choice_idurls,
                                      :current_ar_user => @current_user,
                                      :quizze => @quizze,
                                      :knowledge => @knowledge,
                                      :question => question })%>
          <% end %>
      <% end %>

  </td></tr></table>
</div>

</div>