<h1><%= link_to(@source_product.label, @source_product.hash_data[:detail_page_url]) %></h1>


<table cellpadding=3>
    <tr>
      <td rowspan="7"><%= image_tag(@source_product.hash_data[:image], :width => 86, :height => 160) %></td>
      <td>id</td>
      <td><%= @source_product.sid %></td>
    </tr>
    <tr><td>manufacturer</td><td><%= @source_product.hash_data[:manufacturer] %></td></tr>
    <tr><td>product_group</td><td><%= @source_product.hash_data[:product_group] %></td></tr>
    <tr><td>manufacturer</td><td><%= @source_product.hash_data[:manufacturer] %></td></tr>
    <tr><td>released_on</td><td><%= @source_product.hash_data[:released_on] %></td></tr>
    <tr><td>price</td><td><%= @source_product.hash_data[:price] %></td></tr>
    <tr><td colspan="2"></td></tr>
</table>
<h2><%= pluralize(@source_product.nb_reviews, "review") %></h2>

<% for source_review in  @source_product.source_reviews %>
    <div style="border-bottom:1px solid black; margin-bottom:10px; padding:3px;">
        <!-- header -->
        <div>
          <%= source_review.written_at %> by amazon's user <%= source_review.hash_data[:customerid] %> =>  <%= source_review.hash_data[:rating] %>/5 stars
          <span class="pkz_small pkz_next">
            users'votes on this review=<%= source_review.hash_data[:totalvotes] %> (<%= source_review.hash_data[:helpfulvotes] %> helpful )
          </span>
        </div>

        <!-- summary -->
        <div style="font-style:italic; margin-top:2px;">
          <%= source_review.hash_data[:summary] %>
          <%= link_to_function("more (#{source_review.hash_data[:content].size} chars)", "document.getElementById('content_#{source_review.id}').toggle();") %>
        </div>

        <!-- content -->
        <div id="content_<%= source_review.id %>" class="pkz_next" style="display:none; margin-top:3px;">
            <%= source_review.hash_data[:content] %>
        </div>
    </div>
<% end %>


