    <td colspan="6">
        <% if showup %>
          <%= opinion.original_import.inspect %>
            <% form_remote_tag :url => "/opinions/validate_eric/#{opinion.id}", :html => {:style => "background-color:lightgray; margin-bottom:15px;", :id => "form_validate_eric_#{opinion.id}"} do -%>
                <div style="border:1px dashed black; padding:5px;">
                  <i class="pkz_small">referring to <%= opinion.review.products.collect(&:label).join(', ') %></i>
                  <br/>
                  <%= opinion.extract.strip.inspect %>
                  <%= link_to_function("more...", "document.getElementById('paragraph_#{opinion.id}').toggle();", :class => "pkz_small") %>
                  <div id ="paragraph_<%= opinion.id %>" style="display:none; font-style:italic; margin-top:3px;">
                    <%= opinion.paragraph.content_highlight(opinion.extract.strip) %>
                  </div>
                </div>
                <div style="margin-top:2px; font-weight:bold;">
                    <span>is it a comparaison?</span>
                    <%= radio_button_tag "censor_code", "ok", ["ok", "true"].include?(opinion.censor_code), :onclick => "document.getElementById('sign_#{opinion.id}').show();" %>yes
                    <%= radio_button_tag "censor_code", "ko", ["ko", "false"].include?(opinion.censor_code), :onclick => "document.getElementById('sign_#{opinion.id}').hide();" %>no
                    <span id="sign_<%= opinion.id %>" class="pkz_next">
                      comparator is:
                      <%= radio_button_tag "operator_type", "better", opinion.operator_type == "better" %>better
                      <%= radio_button_tag "operator_type", "same", opinion.operator_type == "same" %>same
                      <%= radio_button_tag "operator_type", "worse", opinion.operator_type == "worse" %>worse
                      <%= check_box_tag "is_neutral", opinion.censor_neutral, true %>neutral                      
                    </span>
                    <%= text_field_tag("extra_comment", opinion.censor_comment || "comment...", :size => 30) %>
                    <%= submit_tag "validate", :class => "pkz_next"   %>
                    <%= link_to_function("close", "document.getElementById('form_validate_eric_#{opinion.id}').toggle();", :class => "pkz_small pkz_link") %>
                </div>
            <% end -%>
            <% unless ["ok", "true"].include?(opinion.censor_code) %>
                <script>document.getElementById('sign_<%= opinion.id %>').hide();</script>
            <% end %>
        <% end %>
    </td>
