<div class="pkz_box">
    <%= model_selector(@current_knowledge, :opinions) %>


    <% form_tag "/opinions/import_process", :multipart => true, :class => "pkz_paragraph" do -%>
        <% if flash[:notice] and flash[:notice] != "" %>
            <p style="background-color:pink; padding:3px; border:1px solid black; margin:3px;"><%= flash[:notice] %></p>
        <% end %>
        <p>
          import a collection of opinions from file<%= file_field_tag :filename_xml %>
          <%= submit_tag "Import collection of opinions..." %> <small style="color:red">slow... like 1-2mn -> 700 opinions</small>
        </p>

    <% end %>

    <hr/>
    <h2>last collections imported</h2>
    <% for ocollection in @ocollections %>
        <div style="padding:2px;">
            <span class="pkz_small"><%= ocollection.created_at %></span>
            <span class="pkz_next pkz_bold"><%= ocollection.label %></span>
            <%= link_to("#{ocollection.nb_opinions} opinions", "/opinions/collection/#{ocollection.id}", :class => "pkz_link pkz_next pkz_small" ) %>
        </div>
    <% end %>


</div>



