

<div class="pkz_box">
    <%= model_selector(@current_knowledge, :opinions) %>

    <h2>
      <span class="pkz_small">Collection of <%= @ocollection.nb_opinions %> opinions:</span>
      &nbsp;<%= @ocollection.label %>
      <%= link_to("back to list...", "/opinions/import", :class => "pkz_link pkz_small pkz_next") %>
      <%= link_to("glossary...", "/glossary", :class => "pkz_link pkz_small pkz_next") %>
      <%= link_to("check errors...", "/opinions/collection_state/#{@ocollection.id}", :class => "pkz_link pkz_small pkz_next") %>
      <%= link_to("destroy", "/opinions/collection_destroy/#{@ocollection.id}", :class => "pkz_link pkz_small pkz_next") %>
    </h2>

    <table>
      <tr class="pkz_bottom_solid">
        <td></td>
        <td></td>
        <td>op_score</td>
        <td width="100">
          op_conf
          <span class="pkz_small">
            (
            <%= link_to("+", {:action => "collection", :id => @ocollection.id, :mode_ranking => "op_conf_asc"}, :class => "pkz_link") %>
            /
            <%= link_to("-", {:action => "collection", :id => @ocollection.id, :mode_ranking => "op_conf_desc"}, :class => "pkz_link") %>
            )
          </span>

        </td>
        <td>score</td>
        <td width="200"></td>
      </tr>
      <% for opinion in @ocollection.opinions %>
          <tr>
            <td><%= object_state(opinion) %></td>
            <td><%= link_to_remote(opinion.to_html, :url => { :controller => "opinions", :action => "edit_opinion_from_collection", :id => opinion.id }, :html => {:class => "pkz_link"}) %></td>
            <td><%= opinion.original_import["op_score"] %></td>
            <td><%= opinion.original_import["op_conf"] %></td>
            <td><%= opinion.original_import["score"] %></td>
            <td align="right">
                <%= "<span title='#{opinion.censor_comment}' class='pkz_small'><b>#{opinion.censor_code}</b> by #{User.find(opinion.censor_author_id).rpx_username} on #{opinion.censor_date}</span>" if opinion.censor_date %>
            </td>
          </tr>
          <tr class="pkz_bottom_dashed">
            <td colspan="6" id="opinion_editor_<%= opinion.id %>" ></td>
          </tr>
      <% end %>
    </table>

</div>



