<div class="pkz_box">
    <%= model_selector(@current_knowledge, :opinions) %>


    <% form_for :review, @review, :url => "/opinions/import_review/#{@product.id}", :class => "pkz_paragraph" do |f| %>
        <p><%= flash[:notice] %> </p>
        <p>import xml file with opinions<%= f.file_field :filename_xml %></p>
        <p>
          Product per default
          <%= text_field_with_auto_complete "search", :related_product, { :size => 50, :value => (@product ? @product.label : nil) }, {:method => :get } %>
        </p>
        <p><%= submit_tag "Import opinions..." %></p>
    <% end %>

    <hr/>
    <h2>last reviews imported</h2>
    <% for review_imported in @reviews_imported %>
        <div style="padding:2px;">filenamexml=<%= review_imported.filename_xml %></div>
    <% end %>

</div>
