<div class="pkz_box">
    <%= model_selector(@current_knowledge, :glossary) %>
    <hr/>
    <% form_tag "/glossary/index" do -%>
        <div style="margin-top:5px;">
            <span class="pkz_bold">in state</span>
            <% for state_name, state_datas in Glossary.list_states %>
                <%= check_box_tag("state_names[]", state_name, @state_names.include?(state_name)) %>
                <span style="background-color:<%= state_datas[:color] %>; padding:2px;" class="pkz_small"><%= state_datas[:label] %></span>
            <% end %>
        </div>
        <div style="margin-top:5px;">
            <span class="pkz_bold">resolve: </span>
            <%= text_field_tag :resolve_string, @resolve_string, :size => 50 %>
            <span class="pkz_small pkz_next">
                limit to <%= text_field_tag :max_nb_glossaries, @max_nb_glossaries, :size => 2 %>glossaries
            </span>
            <%= submit_tag "filter  #{@nb_glossaries} glossaries", :class => "pkz_next" %>
            <%= link_to("reset", "/glossary/index", :class => "pkz_link pkz_small") %>
            <hr/>
        </div>
    <% end -%>

    <table style="width:100%;">


        <% for hash_glossary in @array_hash_glossaries %>
            <tr class="pkz_bottom_dashed" >
                <td >
                  <span title="constructor=<%= hash_glossary[:constructor] %>"><%= hash_glossary[:label] %></span>
                  <%= link_to("resolve", "", :class => "pkz_next") if hash_glossary[:glossaries].first.unmatched? %>
                </td>
                <td ><%= hash_glossary[:glossaries].size %></td>
                <td ><%= hash_glossary[:glossaries].collect { |glossary| glossary.extract.inspect }.join(', ') %></td>
            </tr>

        <% end %>

    </table>


</div>
