<div class="pkz_box">
    <%= model_selector(@current_knowledge, :glossary) %>
    <hr/>
    <% form_tag "/glossary/index" do -%>
        <div style="margin-top:5px;">
            <span class="pkz_bold">resolve: </span>
            <%= text_field_tag :resolve_string, @resolve_string, :size => 50 %>
            <span class="pkz_small pkz_next">
                limit to <%= text_field_tag :max_nb_glossaries, @max_nb_glossaries, :size => 2 %>glossaries
            </span>
            <%= submit_tag "filter  #{@nb_glossaries} glossaries", :class => "pkz_next" %>
            <%= link_to("reset", "/glossary/index", :class => "pkz_link pkz_small") %>
            <hr/>
        </div>
    <% end -%>

    <table style="width:100%;">
        <% for glossary in @glossaries %>
            <tr class="pkz_bottom_dashed" >
                <td >
                  <% if glossary.is_unmatched %>
                      <%= link_to("resolve", "", :class => "pkz_next", :style => "background-color:orchid;")  %>
                  <% else %>
                      <span title="constructor=<%= glossary.constructor %>"><b><%= glossary.label %></b></span>

                  <% end %>
                </td>
                <td ><%= glossary.extracts.collect(&:inspect).join(', ') %></td>
            </tr>
        <% end %>
    </table>

</div>
