



<% if @user %>
    <div style="width:100%; margin-top:20px; font-size:130%; text-align:center;">
        <% if @is_new_user %>
          Thanks for registering <%= @user.rpx_username %> (via <%= @user.registering_source %>)  
        <% else %>
          <%= @user.rpx_username %> is already registered within Pikizi
        <% end %>
    </div>

    <div style="width:100%; margin-top:20px; text-align:center;">
        <% if @user.wannabe_beta_tester == true %>
          You are now registered as willing to participate to our beta-program.
          <%= link_to("follow this link if you want to unregister from our private beta-test program", "/beta_test/#{@user.idurl}/#{@is_new_user}") %>
        <% else %>
          <%= link_to("follow this link if you want to signup for our private beta-test program", "/beta_test/#{@user.idurl}/#{@is_new_user}") %>
        <% end %>          
    </div>
<% else %>
    <div style="width:100%; margin-top:20px; font-size:130%; text-align:center;">
        The access to this page is restricted
    </div>
<% end %>







