<h1>Listing backgrounds</h1>

<table>
  <tr>
    <th>Type</th>
    <th>idurl</th>
    <th>Label</th>
    <th>Data</th>
    <th>Author</th>
    <th>Author idurl</th>
  </tr>

<% @backgrounds.each do |background| %>
  <tr>
    <td><%=h background.type %></td>
    <td><%=h background.idurl %></td>
    <td><%=h background.label %></td>
    <td><%=h background.data %></td>
    <td><%=h background.author_id %></td>
    <td><%=h background.author_idurl %></td>
    <td><%= link_to 'Show', background %></td>
    <td><%= link_to 'Edit', edit_background_path(background) %></td>
    <td><%= link_to 'Destroy', background, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New background', new_background_path %>