<h1>New background</h1>

<% form_for(@background) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.text_area :data %>
  </p>
  <p>
    <%= f.label :author_id %><br />
    <%= f.text_field :author_id %>
  </p>
  <p>
    <%= f.label :author_key %><br />
    <%= f.text_field :author_key %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', backgrounds_path %>