<%=h @background.class %>

<b><%=h @background.background_key %></b>

(bgk=<%= @background.knowledge_key %>, feature=<%= @background.feature_key %>, product=<%= @background.product_key %>)

<p>
  <b>Data:</b>
  <%=h @background.data %>
</p>

<p>
  <b>Author:</b>
  <%=h @background.author_id %>
</p>

<p>
  <b>Author key:</b>
  <%=h @background.author_key %>
</p>

<%= image_tag("/backgrounds/#{@background.id}/thumbnail_150") %>

<%= link_to 'Edit', edit_background_path(@background) %> |
<%= link_to 'Back', backgrounds_path %>