<h1> You don't have access to this page.</h1>

id=<%= @current_user.id %><br/>
identifier=<%= @current_user.rpx_identifier %><br/>
name=<%= @current_user.rpx_name %><br/>
username=<%= @current_user.rpx_username %><br/>
email=<%= @current_user.rpx_email %><br/>
inspect=<%= @current_user.inspect %>