<div class="pkz_box"></div>
<div class="pkz_menu">

  <span><%= pluralize(@users.size, "user")%></span>
  <small><%= link_to "knowledge bases", "/knowledges" %></small>
</div>

<div class="pkz_main">
    <% @users.each do |user| %>
      <div class="pkz_item_list">
        <%= link_to user.rpx_username, "/profile/#{user.rpx_identifier}", :title => "rpx_identifier=#{user.rpx_identifier}"  %>
        &nbsp;<i><%= user.promotion_code %></i>
        <small>
            &nbsp;
            <%= pluralize user.nb_reviews, "opinion" %>
            ,&nbsp;
            <%= pluralize user.nb_quiz_instances, "quiz" %>
            ,&nbsp;
            updated on <%=h user.updated_at %>
        </small>
      </div>
    <% end %>
</div>
</div>

