


<div class="pkz_menu">
	user:<span><%= @user.rpx_username %> <small>&nbsp;#<%= @user.idurl %></small></span>
    <small><%= pluralize @user.nb_quizze_instances, "quizze" %> taken</small>
    &nbsp;&nbsp;
  Authored:
  <small>
    <%= pluralize @user.nb_reviews, "review" %>,
    <%= link_to "process", "/users/#{@user.id}/process_review" %>

    </small>
</div>

<div class="pkz_main">
    <%= text_area_tag :pikizi_generate_xml, @user.to_xml, :style => "width:100%; height:#{height_xml_editor}; background-color:lightblue;", :readonly => true  %>
</div>