<% hash_category_reviews = product.reviews.group_by(&:category) %>
<br/><%= link_to("create a new review for #{product.label} ...", :controller => "reviews", :action => "new", :id => knowledge.id, :product_id => product.id) %>

<% for category, weight in Review.categories %>

    <% if hash_category_reviews and reviews = hash_category_reviews[category] %>

        <div class="pkz_category_title" style="padding-left:0px;" >
          &nbsp;<%= pluralize(reviews.size, "review") %> in <%= category %>
          &nbsp;<%= link_to_function("more...", "document.getElementById('reviews_#{category}').toggle();")   %>
        </div>
        <div id="reviews_<%= category %>" style="display:none;">
        <% for review in reviews %>
            <%= render( :partial => "/reviews/short", :locals => { :review => review } ) %>              
        <% end %>
        </div>

    <% end %>

<% end %>




