<% reviews = Review.find(:all, :product_idurl => product.idurl) %>
<div><%= pluralize(reviews.size, "review") %></div>

<% for review in reviews %>
    <div style="border-top:1px dashed black; margin-top:8px;" title="filename:<%= review.filename %>, <%= review.class %>">

        <div>on <%= review.written_at %>, <%= review.author_email %><%= source_as_html(review) %> said <%= review.to_html %> regarding <%= knowledge.get_feature_by_idurl(review.feature_idurl).label %></div>
        <div>
          <%= review.label %>
          <%= link_to_function("more...", "getElementById('full_label_#{review.id}').toggle();") if review.label_full %>  
          <%= %>
        </div>
        <div id="full_label_<%= review.id %>" style="display:none; font-style:italic;"><%= review.label_full %></div>
    </div>
<% end %>


