<% specification_brand = @current_knowledge.get_specification_by_idurl("brand").get_value_html(product) %>
<% specification_carrier = @current_knowledge.get_specification_by_idurl("carriers").get_value_html(product) %>

<table>
    <tr>
        <td>Model:</td>
        <td class="lft"><strong><%= product.label %></strong></td>
    </tr>
    <tr>
        <td>Manufacturer</td>

        <td class="lft"><strong><%= specification_brand %></strong></td>
    </tr>
    <tr>
        <td>Carrier:</td>
        <td class="lft"><strong><%= specification_carrier %></strong></td>
    </tr>
    <tr>
        <td>Rating:</td>
        <td class="lft">
          <% if product_rating_value = @current_knowledge.dimension_root.get_value(product) %>
            <ul class='star-rating'>
                <li title="rating=<%= product_rating_value %>" class='current-rating' style="<%= "width:#{(70 * product_rating_value).round }px;" %>"></li>
            </ul>
          <% end %>
        </td>
    </tr>
</table>