<% reviews = Review.find(:all, :product_idurl => product.idurl) %>
<div><%= pluralize(reviews.size, "review") %></div>
<table border="1">
    <tr><th>date</th><th>author</th><th>filename</th><th>source</th><th>type</th><th>feature</th><th>opinion</th></tr>
    <% for review in reviews %>
        <tr>
          <td><%= review.written_at %></td>
          <td><%= review.author_email %></td>
          <td><%= review.filename %></td>
          <td><%= link_to(review.source || "link", review.source_url || "#") if review.source or review.source_url %></td>
          <td><%= review.class %></td>
          <td><%= review.feature_idurl %></td>
          <td><%= review.to_html %></td>
        </tr>
    <% end %>
</table>
