
<div id="main">
  <div class="box952">
    <h1><%= @product.label %></h1>

    <ul class="bugRt">
      <li class="backAd"><a href="/test_quizz">back to advisor</a></li>
      <li class="answers"><%= @quizze_instance.nb_products_ranked_at_most %></li>
    </ul>
    <div id="search_boxBg">
        <div class="spcr">
    </div>
      <ul class="one">
        <li class="img"><%= product_image(@product, 'main') %></li>

        <li class="details">
          <%= render(:partial => "/home/product_details", :locals => {:knowledge => @knowledge, :product => @product}) %>
        </li>
        <li class="fit">
          <%= render(:partial => "/home/my_product_fit", :locals => {:quizze => @quizze, :explanations => @explanations[@product.idurl]}) %>
        </li>
        <div class="spcr"></div>

      </ul>
      <ul class="gallery">
          <li class="gallRd"><a href="#"><img src="/images/gene/galleryArwRw.png" /></a></li>
          <% for image_ids in @product.image_ids.first(3) %>
            <li><a href="#"><%= product_image(@product, 'gallery', image_ids) %></a></li>
          <% end %>
          <li class="gallFd"><a href="#"><img src="/images/gene/galleryArwFd.png" /></a></li>
      </ul>
      <%= render(:partial => "/home/product_price", :locals => {:knowledge => @knowledge, :product => @product}) %>
    </div>
    <!-- HERE IS WHERE THE ADVISOR RESULTS GO-->

    <div class="spcr"></div>
  </div>
</div>

  <%= render(:partial => "/home/product_tabs", :locals => {:selected_key => "overview", :knowledge => @knowledge, :product => @product}) %>

</div>
