<% feature_image = @knowledge.get_feature_by_idurl("main_image").get_value(@product) %>

<div id="main">
  <div class="box952">
    <h1><%= @product.label %></h1>

    <ul class="bugRt">
      <li class="backAd"><a href="/test_quizz">back to advisor</a></li>
      <li class="answers">12</li>
    </ul>
    <div id="search_boxBg">
        <div class="spcr">
    </div>
      <ul class="one">
        <li class="img"><img src="<%= @knowledge.clean_url(feature_image, @product) %>" width="220" height="220"/> </li>

        <li class="details">
          <%= render(:partial => "/home/product_details", :locals => {:knowledge => @knowledge, :product => @product}) %>
        </li>
        <li class="fit">
          <%= render(:partial => "/home/my_product_fit", :locals => {:quizze => @quizze, :overall => 0.1}) %>
        </li>
        <div class="spcr"></div>

      </ul>
      <ul class="gallery">
          <li class="gallRd"><a href="#"><img src="/images/gene/galleryArwRw.png" /></a></li>
          <% for image_url in @product.gallery_image_urls %>
            <li><a href="#"><img src="<%= image_url %>" width="64" height="64" /></a></a></li>
          <% end %>
          <li class="gallFd"><a href="#"><img src="/images/gene/galleryArwFd.png" /></a></li>
      </ul>
      <%= render(:partial => "/home/product_price", :locals => {:knowledge => @knowledge, :product => @product}) %>
    </div>
    <!-- HERE IS WHERE THE ADVISOR RESULTS GO-->

    <div class="spcr"></div>
  </div>
</div>

  <%= render(:partial => "/home/product_tabs", :locals => {:selected_key => "overview", :knowledge => @knowledge, :product => @product}) %>

</div>
