<div id="main">
  <div class="box952">
    <h1>Advisor: <strong><%= @quizze.label %></strong></h1>
    <% next_question = @current_user.get_next_question(@knowledge, @quizze) %>
    <ul class="bugRt">
      <li class="backAd"><a href="<%= "/my_results" %>">results</a></li>
      <li class="answers"><%= @quizze_instance.nb_products_ranked_at_most %></li>
    </ul>
    <% form_tag "/record_my_answer", :id => "question_form" do -%>
        <%= hidden_field_tag "knowledge_idurl", @knowledge.idurl %>
        <%= hidden_field_tag "quizze_idurl", @quizze.idurl %>
        <%= hidden_field_tag "question_idurl", next_question.idurl %>

        <div id="quizzBox">
          <h2><%= @quizze_instance.nb_answers + 1 %>. <%= next_question.label %></h2>

          <ul class="advisors">
            <% last_choice = (choices = next_question.choices).last %>
            <% for choice in choices %>
                <li <%= "class=\"last\"" if choice == last_choice%>>
                    <img src="<%= "/domains/#{@knowledge.idurl}/questions/#{next_question.idurl}/#{choice.url_image}" %>" />
                    <% if next_question.is_choice_exclusive %>
                        <%= radio_button_tag "choices_idurls_ok[]", choice.idurl %>
                    <% else %>
                        <%= check_box_tag "choices_idurls_ok[]", choice.idurl %>
                    <% end %>
                    <%= choice.label %>
                    <a href="<%= "/domains/#{@knowledge.idurl}/questions/#{next_question.idurl}/#{choice.url_description}" %>"><img src="/images/gene/iconSrch16.png" /></a>
                </li>
            <% end %>


            <div class="spcr"></div>
          </ul>
          <ul class="bugRt nav">
          <li class="dir">Select one<%= " or more" unless next_question.is_choice_exclusive %> choices then click Next.</li>
            <li class="backAdBk"><a href="#">back</a></li>
            <li class="backAdNxt"><a onclick="getElementById('question_form').submit();">next</a></li>
          </ul>

        </div>
    <% end -%>
  </div>
</div>
<div class="boxLwr">
  <div class="box952">
    <ul class="bugRt">
      <li class="backAd">Filter by</li>
      <li class="answers"><a href="#">price</a></li>

      <li><a href="#">rating</a></li>
      <li><a href="#">brand</a></li>
      <li><a href="#">carrier</a></li>
    </ul>
    <div class="spcr"></div>
  </div>
</div>
