<div id="main">
    <div class="box952">

        <h1>Results</h1>
        <ul class="bugRt">
            <li><a href="#">save</a></li>
            <li><a href="#">| share</a></li>
            <li class="iconBtn"><a href="#"><img src="/images/gene/twitTxt.jpg" /></a></li>
            <li class="iconBtn"><a href="#"><img src="/images/gene/faceBkTxt.jpg" /></a></li>
            <li><%= link_to("...", "#", :style => "font-size:60%; margin-left:5px;") if @current_user.role = "admin" %></li>
            <li class="backAd"><a href="/my_quiz">back to advisor</a></li>

            <li class="answers"><%= @quizze_instance.nb_products_ranked_at_most %></li>
        </ul>
        <div id="search_boxBg">
            <div class="spcr"></div>

        <% for affinity in @sorted_affinities %>
            <% if affinity.ranking <= 3 %>
                <% product = affinity.product(@knowledge) %>
                <ul class="<%= { 1 => "one", 2 => "two", 3 => "three" }[affinity.ranking] %>"
                    <h3><%= product.label %></h3>
                    <% feature = @knowledge.get_feature_by_idurl("main_image") %>
                    <li class="img">

                      <img src="<%= @knowledge.clean_url(feature.get_value(product), product) %>" width="200" height=200" />

                    </li>
                               <li class="details">
                <table>
                    <tr>
                        <td>Model:</td>
                        <td class="lft"><strong><%= affinity.product(@knowledge).label %></strong></td>
                    </tr>
                    <tr>
                        <% feature = @knowledge.get_feature_by_idurl("brand") %>
                        <td><%= feature.label %></td>    
                        <td class="lft"><strong><%= feature.get_value_html(product) %></strong></td>
                    </tr>
                    <tr>
                        <% feature = @knowledge.get_feature_by_idurl("carriers") %>
                        <td><%= feature.label %></td>
                        <td class="lft"><strong><%= feature.get_value_html(product) %></strong></td>
                    </tr>

                    <tr>
                        <td>Rating:</td>
                        <td class="lft">
                          <% if feature_rating = @knowledge.get_feature_by_idurl("overall_rating").get_value(product) %>
                            <ul class='star-rating'>
                                <li title="rating=<%= feature_rating %>" class='current-rating' style="<%= "width:#{(70 * feature_rating).round }px;" %>"></li>
                            </ul>
                          <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td>Best Price:</td>

                        <td class="lft blue"><strong><%= @knowledge.get_price_min_html(product) %></strong></td>
                    </tr>
                </table>
                <ul class="icons">
                    <li><a href="#"><img src="/images/gene/iconCart.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconSrch.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconHrt.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconX.png"</a></li>

                    <li><a href="#"><img src="/images/gene/iconFace.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconTwit.png"</a></li>
                    <div class="spcr"></div>
                </ul>
                <a href="/my_product/<%= product.idurl %>">Product Details</a>
            </li>
            <li class="fit">
                <%= render(:partial => "/home/my_product_fit", :locals => {:quizze => @quizze, :overall => affinity.measure}) %>
            </li>
            <div class="spcr"></div>
                </ul>
            <% end %>
        <% end %>


         </div>
         <div class="spcr"></div>
    </div>
</div>
