<div id="main">
  <div class="box952">
    <h1>Search products</h1>

    <h2>Browse and Search Products</h2>
    <div id="search_boxBg">
      <% form_tag '/products_search', :id => "search_form" do -%>
        <input type="text" id="S" name="s" value="<%= @search_string %>" class="swap_value" />
        <input type="image" src="/images/gene/trns.gif" width="32" height="32" id="Go" alt="Search" title="Search">
      <% end -%>
    </div>

    <!--BEGIN ADVISOR RESULTS-->
    <div class="adResults">
      <h1>Advisor</h1>
      <ul  class="advisors">
      <% last_quizze = @quizzes.last %>
      <% for quizze in @quizzes %>
        <li <%= "class=\"last\"" if quizze == last_quizze %>>
            <img src="<%= "/domains/#{quizze.knowledge_idurl}/quizzes/#{quizze.idurl}/#{quizze.main_image_url}" %>" />
            <%= quizze.label %>
            <%= link_to("<p></p>", "/start_quiz/#{quizze.id}") %>
        </li>
      <% end %>
      <div class="spcr"></div>
      </ul>
    </div>
    <!--END ADVISOR RESULTS-->

    <div class="spcr"></div>
  </div>
</div>

<div class="boxLwr">
  <div class="box952">
    <h1><%= @search_string ? "#{pluralize(@nb_results, 'result')} for #{@search_string.inspect}" : "First 20 products in database..." %></h1>
    <div class="spcr"></div>

      <% if @nb_results > 0 %>
          <% feature_image = @knowledge.get_feature_by_idurl("main_image") %>
          <% feature_overall_rating = @knowledge.get_feature_by_idurl("overall_rating") %>
          <% for category, products in @list_category_products %>
            <ul <%= "class=\"last\"" if category == @last_category %>>
            <h3><%= category %></h3>
            <% for product in products %>
                <li>

                  <%= product_image(product) %>

                  <h4><a href="/product/<%= product.idurl %>"><%= product.label %></a></h4>
                  <% if rating_01 = feature_overall_rating.get_value(product) %>
                  <ul class='star-rating'>
                      <li class='current-rating' title="rating=<%= rating_01 %>" style="<%= "width:#{(45 * rating_01).round}px;" %>" ></li>
                  </ul>
                  <% end %>
                  <%= @knowledge.get_price_min_max_html(product) %>
                </li>
            <% end %>
            <div class="spcr"></div>
            </ul>
          <% end %>
      <% end %>


    <div class="spcr"></div>
  </div>
</div>
