



<div id="main">
    <div class="box952" >

        <h1><%= @dimension.parent_id ? "Ranking by #{@dimension.label}" : "Overall ranking" %></h1>
        <ul class="bugRt">
            <li><a href="#">save</a></li>
            <li><a href="#">| share</a></li>
            <li class="iconBtn"><a href="#"><img src="/images/gene/twitTxt.jpg" /></a></li>
            <li class="iconBtn"><a href="#"><img src="/images/gene/faceBkTxt.jpg" /></a></li>
            <li style="margin-right:200px;">&nbsp;</li>
        </ul>
        <div id="search_boxBg"><div class="spcr"></div>

        <% for product, ranking in @sorted_products_ranking %>
            <% if ranking <= 3 %>
                <ul class="<%= { 1 => "one", 2 => "two", 3 => "three" }[ranking] %>">
                    <h3 title="<%= product.get_value(@dimension.idurl) %>"><%= product.label %></h3>
                    <li class="img">
                      <%= link_to(product_image(product, 'main'), "/product/#{product.idurl}") %>
                    </li>
                               <li class="details">
                <table>
                    <tr>
                        <td>Model:</td>
                        <td class="lft"><strong><%= product.label %></strong></td>
                    </tr>
                    <tr>
                        <% specification = @current_knowledge.get_specification_by_idurl("brand") %>
                        <td><%= specification.label %></td>
                        <td class="lft"><strong><%= specification.get_value_html(product) %></strong></td>
                    </tr>
                    <tr>
                        <% specification = @current_knowledge.get_specification_by_idurl("carriers") %>
                        <td><%= specification.label %></td>
                        <td class="lft"><strong><%= specification.get_value_html(product) %></strong></td>
                    </tr>

                    <tr>
                        <td>Rating:</td>
                        <td class="lft">
                          <% if dimension_value = @current_knowledge.get_dimension_by_idurl(@dimension.idurl).get_value(product) %>
                            <ul class='star-rating'>
                                <li title="rating=<%= dimension_value %>" class='current-rating' style="<%= "width:#{(70 * dimension_value).round }px;" %>"></li>
                            </ul>
                          <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td>Best Price:</td>

                        <td class="lft blue"><strong><%= @current_knowledge.get_price_min_html(product) %></strong></td>
                    </tr>
                </table>
                <ul class="icons">
                    <li><a href="#"><img src="/images/gene/iconCart.png" /></a></li>
                    <li><a href="#"><img src="/images/gene/iconSrch.png" /></a></li>
                    <li><a href="#"><img src="/images/gene/iconHrt.png" /></a></li>
                    <li><a href="#"><img src="/images/gene/iconX.png" /></a></li>

                    <li><a href="#"><img src="/images/gene/iconFace.png" /></a></li>
                    <li><a href="#"><img src="/images/gene/iconTwit.png" /></a></li>
                    <div class="spcr"></div>
                </ul>
            </li>
            
            <div class="spcr"></div>
                </ul>
            <% end %>
        <% end %>
            <div style="text-align:left; padding:20px;">
                <% for product, ranking in @sorted_products_ranking %>
                  <% if ranking > 3 %>
                    <span style="margin-left:20px;" title="<%= product.get_value(@dimension.idurl) %>">
                        <%= ranking %><span style="font-size:xx-small; vertical-align:top;">rd</span>
                        <%= product.label %>
                     </span>
                  <% end %>
                <% end %>
            </div>

         </div>
         <div class="spcr"></div>
    </div>
</div>


