<h1>List of Synonyms for <%= @current_knowledge.label %></h1>

<table border=1>
  <tr>
    <th>key</th>
    <th>synonyms</th>
  </tr>
  <% for synonym in @synonyms %>
    <tr>
      <td title="<%= synonym.object_classname %>#<%= synonym.object_id %>" ><%= synonym.label %></td>
      <td><%= synonym.matches.collect(&:inspect).join(", ") %></td>
    </tr>
  <% end %>
</table>

