<div style="background-color:lightgray; margin:5px; border:1px black solid;">

        <% if header %>
            <!-- header -->
            <div style="background-color:gray; margin:5px; border:1px black solid;">
              <%= products_query.to_html%>
              <% products_matching = products_query.execute_query %>
              <span title="<%= products_matching.collect(&:idurl).join(', ') %>" class="pkz_next pkz_small" style="color:white;"><%= products_query.name %> => <%= pluralize(products_matching.size, "product") %> matching</span>
            </div>
        <% end %>
  
        <div id="dom_atoms_<%= products_query.name %>">
            <% last_atom_index = products_query.products_query_atoms.size - 1 %>
            <% for i in 0..last_atom_index %>
              <%= products_query_atom_form(products_query.name, products_query.products_query_atoms[i], @current_knowledge) %>
            <% end %>
        </div>

        <div style="text-align:right; position: relative; width: 100%; height:17px;">

          <div style="position: absolute; right:5px;"
             onmouseover="document.getElementById('add_line_<%= products_query.id %>').show();"
             onmouseout="document.getElementById('add_line_<%= products_query.id %>').hide();"
          >
              <span class='pkz_small pkz_link'>add a new line...</span>
              <span id="add_line_<%= products_query.id %>" style="display:none;">
                add product(s) defined by
                <%= [["label", "ProductsQueryFromProductLabel"], ["specification", "ProductsQueryFromSpecification"], ["shortcut", "ProductsQueryFromShortcut"]].collect do |label, classname|
                  link_to_remote(label,
                          :url => { :controller => "products_query", :action => "add_line", :name => products_query.name, :products_query_atom_type => classname}, 
                          :class => "pkz_link")
                end.join(' or ') %>
              </span>
          </div>
          
        </div>

</div>

