<div style="background-color:lightgray; margin:5px; border:1px black solid;">
<% fields_for("#{products_query.name}", products_query) do |products_query_fields| %>

    <!-- header -->
    <div style="background-color:gray; margin:5px; border:1px black solid;">
      ProductsQuery <%= products_query.name.inspect %>
      => <%= products_query.to_html%>
      <%= link_to_function("more...", "document.getElementById('query_#{products_query.id}').toggle();", :class => "pkz_link pkz_small pkz_next") %>
      <div id="<%= "query_#{products_query.id}" %>" style="display:none; margin-top:3px;">
        <%= products_query.products_matching_query %>
      </div>
    </div>

    <% for i in 0..products_query.products_query_atoms.size - 1 %>

        <% products_query_atom = products_query.products_query_atoms[i] %>
        <% products_query_logical = ( i == 0 ? nil : products_query.logical_operators[i-1]) %>

        <% if products_query_logical %>
            <div style="font-weight:bold; margin-top:5px; margin-bottom:5px; text-align:center; border:1px dashed black;"><%= products_query_logical %></div>
        <% end %>
        

        <% products_query_fields.fields_for(:products_query_atom, products_query_atom, :index => products_query_atom.rank_index) do |products_query_atom_fields| %>
          <%= products_query_atom_form(products_query_atom_fields, knowledge) %>
        <% end %>



    <% end %>

<% end %>
</div>