<h1>Testing ProductsQueryAtom...</h1>

<hr/>
<%= render(:partial => "/products_query/edit", :locals => { :knowledge => @current_knowledge, :products_query => @products_query_1  }) %>

<hr/>
<%= render(:partial => "/products_query/edit", :locals => { :knowledge => @current_knowledge, :products_query => @products_query_11  }) %>

<hr/>
<%= render(:partial => "/products_query/edit", :locals => { :knowledge => @current_knowledge, :products_query => @products_query_2  }) %>

<hr/>
<%= render(:partial => "/products_query/edit", :locals => { :knowledge => @current_knowledge, :products_query => @products_query_22  }) %>

<hr/>
<%= render(:partial => "/products_query/edit", :locals => { :knowledge => @current_knowledge, :products_query => @products_query_3  }) %>

<hr/>
<%= render(:partial => "/products_query/edit", :locals => { :knowledge => @current_knowledge, :products_query => @products_query_4  }) %>

<hr/>
<%= render(:partial => "/products_query/edit", :locals => { :knowledge => @current_knowledge, :products_query => @products_query_5  }) %>


<hr/>