
<% form_remote_tag :url => "/interpretor/add_feature_related" do -%>
    <% dimension_root = knowledge.dimension_root %>
    <% dimensions_l1 = dimension_root.children %>


    <table border=1>
      <% width_column = 100 / dimensions_l1.size %>
      <tr><th colspan="<%= dimensions_l1.size %>" align="left"><span style="margin-left:150px;"><%= check_box_tag "value_oriented" %>Overall rating </span></th></tr>
      <tr>
            <% for dimension in dimensions_l1 %>
                <th valign="top"  width="<%= width_column %>%"><%= dimension.label %></th>
            <% end %>
      </tr>

      <tr>
          <% for dimension in knowledge.dimension_root.children %>
              <td valign="top">
                <% for sub_dimension in dimension.children %>
                    <%= check_box_tag "value_oriented" %><span title="idurl=<%= sub_dimension.idurl %>"><%= sub_dimension.label %></span><br/>
                <% end %>
              </td>
          <% end %>
      </tr>

    </table>


<% end -%>






        
