
<% form_remote_tag :url => "/interpretor/add_feature_related" do -%>
    <% dimension_root = knowledge.dimension_root %>
    <% dimensions_l1 = dimension_root.children %>

    Overall rating <%= check_box_tag "value_oriented" %>
    <table border=1>

      <tr>
            <% for dimension in dimensions_l1 %>
                <td valign="top"><%= dimension.label %></td>
            <% end %>
      </tr>

      <tr>
          <% for dimension in knowledge.dimension_root.children %>
              <td valign="top">
                <% for dimension in dimension.children %>
                    <%= check_box_tag "value_oriented" %><span title="idurl=<%= dimension.idurl %>"><%= dimension.label %><span><br/>
                <% end %>
              </td>
          <% end %>
      </tr>

    </table>


<% end -%>






        
