

<table width="100%">
  <tr>
    <td width="320"  valign="top"><%= render(:partial => "/interpretor/products_selector", :locals => { :name => "referent", :opinion => opinion }) %></td>
    <td   class="pkz_comparator_operator_type" align="center"  valign="top">
        <% for key, label in Comparator.hash_operator_type_2_label %>
            <%= opinion_form.radio_button(:operator_type, key) %><%= label %><br/>
        <% end %>
        <%= check_box_value_oriented(opinion_form, "font-size:80%; font-weight:normal; margin-top:5px;") %>
    </td>
    <td width="320"  valign="top" ><%= render(:partial => "/interpretor/products_selector", :locals => { :name => "compare_to", :opinion => opinion }) %></td>
  </tr>

</table>