



<table width="100%">
  <tr>
    <td width="320"  valign="top"><%= render(:partial => "/interpretor/products_selector", :locals => { :name => "referent", :opinion => opinion }) %></td>
    <td   align="center" valign="top" class="pkz_comparator_operator_type">
      is
    </td>
    <td  width="320"  valign="top">
      <table><tr>
        <td>
            <%= opinion_form.radio_button(:intensity_symbol, "very_high") %>very good<br/>
            <%= opinion_form.radio_button(:intensity_symbol, "high") %>good<br/>
            <%= opinion_form.radio_button(:intensity_symbol, "mixed") %>mixed<br/>
            <%= opinion_form.radio_button(:intensity_symbol, "low") %>bad<br/>
            <%= opinion_form.radio_button(:intensity_symbol, "very_low") %>very bad
        </td>
        <td><%= check_box_value_oriented(opinion_form) %></td>
      </tr></table>

    </td>
  </tr>

</table>

