

<div style="font-weight:bold; margin-top:1px;">Please specify the scope of this ranking</div>

<table width="100%">
  <tr>
    <td width="320"  valign="top">
        <%= render(:partial => "/interpretor/products_selector", :locals => { :name => "scope_ranking" , :opinion => @current_opinion }) %>

    </td>
    <td width="320"  valign="top">
      <div style="margin-left:20px; margin-right:20px;">
      <%= render(:partial => "/interpretor/products_selector", :locals => { :name => "referent" , :opinion => @current_opinion }) %>
      <div id="opinion_ranking_first" style="margin-top:10px;"></div>
        <div id="opinion_ranking_second" style="margin-top:10px;"></div>
      </div>
    </td>
    <td class="comparator_operator" valign="top">
        <div><%= radio_button_tag("ranked_number", "ranked_number_first", true, :onchange => remote_function(:url => { :action => "opinion_ranking_changed", :id  => 1 })) %>is best or 1st</div>
        <div><%= radio_button_tag("ranked_number", "ranked_number_second", nil, :onchange => remote_function(:url => { :action => "opinion_ranking_changed", :id  => 2 }) ) %>is 2nd</div>
        <div><%= radio_button_tag("ranked_number", "ranked_number_third", nil, :onchange => remote_function(:url => { :action => "opinion_ranking_changed", :id  => 3 }) ) %>is 3rd</div>
        <%= check_box_value("ranking", "font-size:80%; font-weight:normal; margin-top:5px;") %>
    </td>
  </tr>

</table>