
<table  width="100%">
  <tr>
    <td width="320"  valign="top"><%= render(:partial => "/interpretor/products_selector", :locals => { :name => "referent", :opinion => opinion }) %></td>
    <td  align="center" valign="top" class="pkz_comparator_operator_type">is rated</td>
    <td width="320" valign="top">

        <%= opinion_form.text_field :rating, :size => 3 %>
        min=<%= opinion_form.text_field :min_rating, :size => 3 %>
        max=<%= opinion_form.text_field :max_rating, :size => 3 %>
        <br/><%= check_box_value_oriented(opinion_form, "margin-top:5px;") %>
    </td>
  </tr>

</table>