

<div style="font-weight:bold; margin-top:1px;">Please specify the scope of this ranking</div>

<table width="100%">
  <tr>
    <td width="320"  valign="top">
        <%= render(:partial => "/interpretor/products_selector", :locals => { :name => "scope_ranking" , :opinion => opinion }) %>

    </td>
    <td width="320"  valign="top">
      <div style="margin-left:20px; margin-right:20px;">
      <%= render(:partial => "/interpretor/products_selector", :locals => { :name => "referent" , :opinion => opinion }) %>
      <div id="opinion_ranking_first" style="margin-top:10px;">
        <% if opinion.order_number >= 2 %>
            <div style="font-weight:bold;">Please specify the product ranked first</div>
            <%= render(:partial => "products_selector", :locals => { :name => "ranking_first", :opinion => opinion }) %>
        <% end %>
      </div>
      <div id="opinion_ranking_second" style="margin-top:10px;"></div>
        <% if opinion.order_number >= 3 %>
            <div style="font-weight:bold;">Please specify the product ranked second</div>
            <%= render(:partial => "products_selector", :locals => { :name => "ranking_second", :opinion => opinion }) %>
        <% end %>
      </div>
    </td>
    <td class="pkz_comparator_operator_type" valign="top">
        <div><%= opinion_form.radio_button("order_number", "1") %>is best or 1st</div>
        <div><%= opinion_form.radio_button("order_number", "2") %>is 2nd</div>
        <div><%= opinion_form.radio_button("order_number", "3") %>is 3rd</div>
        <%= check_box_value_oriented(opinion_form, "font-size:80%; font-weight:normal; margin-top:5px;") %>
    </td>
  </tr>

</table>


