



<table width="100%">
  <tr>
    <td width="320"  valign="top"><%= render(:partial => "/interpretor/products_selector", :locals => { :name => "referent", :opinion => opinion }) %></td>
    <td   align="center" valign="top" class="pkz_comparator_operator_type">
      is
    </td>
    <td  width="320"  valign="top">
      <table><tr>
        <td>
            <%= radio_button_tag("tip_intensity", nil, opinion.intensity_symbol == "very_high", :onchange => remote_function(:url => { :action => "tip_intensity_toggle", :id => opinion.id, :intensity_symbol => "very_high" }) ) %>very good<br/>
            <%= radio_button_tag("tip_intensity", nil, opinion.intensity_symbol == "high", :onchange => remote_function(:url => { :action => "tip_intensity_toggle", :id => opinion.id, :intensity_symbol => "high" }) ) %>good<br/>
            <%= radio_button_tag("tip_intensity", nil, opinion.intensity_symbol == "neutral", :onchange => remote_function(:url => { :action => "tip_intensity_toggle", :id => opinion.id, :intensity_symbol => "neutral" }) ) %>neutral<br/>
            <%= radio_button_tag("tip_intensity", nil, opinion.intensity_symbol == "mixed", :onchange => remote_function(:url => { :action => "tip_intensity_toggle", :id => opinion.id, :intensity_symbol => "mixed" }) ) %>mixed<br/>
            <%= radio_button_tag("tip_intensity", nil, opinion.intensity_symbol == "low", :onchange => remote_function(:url => { :action => "tip_intensity_toggle", :id => opinion.id, :intensity_symbol => "low" }) ) %>bad<br/>
            <%= radio_button_tag("tip_intensity", nil, opinion.intensity_symbol == "very_low", :onchange => remote_function(:url => { :action => "tip_intensity_toggle", :id => opinion.id, :intensity_symbol => "very_low" }) ) %>very bad
        </td>
        <td><%= check_box_value_oriented(opinion) %></td>
      </tr></table>

    </td>
  </tr>

</table>

