<div id="paragraph_edited">
    <!-- editing an existing opinion -->
    <% if notification ||= (opinion.error? ? "<span style='background-color:red;'>ERROR: #{opinion.errors_explanations}</span>" : nil) %>
        <div id="notification" style="border:2px dashed orange; padding:5px;">
          <%= notification %>
          <%= link_to_function(image_tag("icons/status_icon_delete.png", :border => 0),
                               "document.getElementById('notification').toggle();",
                               :style =>"font-size:80%; margin-left:20px; color:orange;") %>
        </div>
    <% end %>

    <% if opinion.to_review? %>
        <div id="censor_step" style="border:2px solid red; background-color:orange; padding:5px; margin-bottom:10px;">
            <% form_tag "/interpretor/censor_action/#{opinion.id}", :id => "form_censor_#{opinion.id}" do -%>
                waiting for acceptance: ...
                <%= text_field_tag "censor_comment_#{opinion.id}", nil, :size => 50 %>
                <%= text_field_tag "censor_code_#{opinion.id}", nil %>
                <%= link_to_function("accept...", "submit_censor('#{opinion.id}', 'ok');") %>
                &nbsp;
                <%= link_to_function("reject...", "submit_censor('#{opinion.id}', 'ko');") %>
            <% end -%>
        </div>
    <% end %>


    <% remote_form_for(opinion, :url => { :action => "update_opinion", :id => opinion.id }, :html => {:style => "background-color:lightgray; padding:5px 10px;", :id => "main_opinion_form_#{opinion.id}"}) do |opinion_form| %>

        <b><%= object_state(opinion) %><%= opinion.to_html %></b><hr/>

        <div style="width:100%;">
          cut and paste the related sentence. <small>if none, the whole paragraph is assumed</small><br/>
          <%= opinion_form.text_area :extract, :size => "115x2" %>
        </div>

        <%= render(:partial => "/interpretor/dimensions_related", :locals => { :opinion => opinion} ) %>

        <%= render(:partial => "/interpretor/usages_related", :locals => {:opinion => opinion, :opinion_form => opinion_form} ) %>

        <div id="div_opinion_selector" style="margin-top:5px; padding-top:5px; border-top:1px solid black;">
          <% if ["Tip", "Comparator", "Ranking", "Rating", "Neutral"].include?(opinion.class.to_s) %>
            <%= render(:partial => "opinion_selector_#{opinion.class.to_s.downcase}", :locals => {:opinion => opinion, :opinion_form => opinion_form }) %>
          <% else %>
            class???<%= opinion.class %>
          <% end %>
        </div>

        <hr/>

        <p style="text-align:center;">
            <%= opinion_form.submit "Save", :style => "color:orange;" %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to("Cancel/Close", "/edit_review/#{opinion.review_id}/#{opinion.paragraph_id}", :style => "color:orange;") %>
        </p>


    <% end %>
</div>

<script>

    function enableDisableForm(form_dom_id, flag) {
        //flag = true if disabled, false if enabled
        var f = document.getElementById(form_dom_id);
        var len=f.elements.length;
        for(x=0;x<len;x++) {
            f.elements[x].disabled=flag;
        }
    }

    function submit_censor(opinion_id, censor_code) {
        var f = document.getElementById('form_censor_' + opinion_id);
        document.getElementById('censor_code_' + opinion_id).value = censor_code;
        f.submit();
    }


    <% if opinion.to_review? %>
        enableDisableForm("main_opinion_form_<%= opinion.id %>", true);
    <% end %>


</script>