<div style="margin-bottom:10px;">

    <% previous_paragraph = paragraphs[paragraph_index - 1] if paragraph_index > 0 %>
    <% current_paragraph = paragraphs[paragraph_index] %>
    <% next_paragraph = paragraphs[paragraph_index + 1] if paragraph_index < paragraphs_size - 1 %>

    <!-- current paragraph -->
    <% form_remote_tag(:url => "/interpretor/set_opinion_extract/#{opinion.id if opinion}",
                       :before => opinion ? fckeditor_before_js("opinion", "content_fck") : nil,
                       :html => {:id => "form_opinion"} ) do -%>

        <% if opinion %>
            <%= hidden_field_tag(:new_extract, opinion.extract, :size => 80) %>
            <%= render(:partial => "paragraph_editor_bis", :locals => {:opinion => opinion}) %>
        <% end %>

        <div style="margin-top:20px;">
            <%= link_to(image_tag("icons/backward.png", :border => 0), "/edit_review/#{previous_paragraph.review_id}/#{previous_paragraph.id}") if previous_paragraph %>
            <%= link_to(image_tag("icons/foward.png", :border => 0), "/edit_review/#{next_paragraph.review_id}/#{next_paragraph.id}") if next_paragraph %>

            <span style="font-size:140%; font-weight:bold;">
                in paragraph <%= paragraph_index + 1 %>/<%= paragraphs_size %>,
                <%= pluralize(existing_opinions.size, "opinion") %> so far
            </span>
          
            <%= select_tag("create_opinion",
                      options_for_select([["create a new opinion...", "nil"],
                                          ["create a Tip", "Tip"],
                                          ["create a Comparaison", "Comparator"],
                                          ["create a Ranking", "Ranking"],
                                          ["create a Rating", "Rating"]]),
                      :onchange => "window.location='/interpretor/add_opinion_to_review/#{current_paragraph.id}?opinion_class=' + this.value ;") %>
        </div>

        <!-- existing opinions for this paragraph -->
        <% for existing_opinion in existing_opinions %>
          <%= render(:partial => "interpretor/opinion", :locals => {:opinion =>opinion, :existing_opinion => existing_opinion}) %>
        <% end %>

    <% end -%>


</div>