<div id="ps_<%= name %>" style="background-color:lightgray; width:350px; ">

    <!-- existing products filter -->
    <div id="<%= name %>_extra">
        <%= render(:partial => "/interpretor/products_selector_filters", :locals => { :opinion => opinion, :name => name }) %>
    </div>
    <div class="pkz_clearBoth"></div>

    <!--adding a new product filter -->
    <div style="font-size:80%;">
            add product(s)
            <%= link_to_remote("<b>by name</b>", :url => { :action => "add_products_filter", :id => name, :key_selector => "by_label" }) %>
            or
            <%= link_to_remote("<b>by specification</b>", :url => { :action => "add_products_filter", :id => name, :key_selector => "by_specification" }) %>
            or
            <%= link_to_remote("<b>by shortcut</b>", :url => { :action => "add_products_filter", :id => name, :key_selector => "by_shortcut" }) %>
    </div>

</div>
