<div id="ps_<%= name %>" style="background-color:lightgray; width:350px; padding:5px; border:1px solid black;">

    <div id="<%= name %>_list" class="pkz_list">
        <%= render(:partial => "products_selector_filters", :locals => { :opinion => opinion, :name => name }) %>
    </div>
    <div class="pkz_clearBoth"></div>

    <div id="<%= name %>_extra" >
          <span style="font-size:80%;">
            add product(s)
            <%= link_to_remote("<b>by name</b>", :url => { :action => "toggle_product_selector", :id => name, :key_selector => "by_label" }) %>
            or
            <%= link_to_remote("<b>by specification</b>", :url => { :action => "toggle_product_selector", :id => name, :key_selector => "by_specification" }) %>
            or
            <%= link_to_remote("<b>by shortcut</b>", :url => { :action => "toggle_product_selector", :id => name, :key_selector => "by_shortcut" }) %>
          </span>
    </div>

</div>
