

 
<%= render(:partial => "/reviews/header", :locals => { :review => @review }) %>





<% for paragraph in @paragraphs %>
    <% if paragraph.id == @paragraph_id %>
        <!-- editing the current paragraph -->


        <div id="div_paragraph_editor" style="margin-bottom:10px; background-color:white; border:2px solid orange; padding:5px;">

            <!-- content of the paragraph -->
            <div id="div_paragraph_editor_bis">
                <%= paragraph.content_without_html %>
            </div>

            <% if @existing_opinions.size > 0 %>
                <!-- existing opinions for this paragraph -->
                <hr/>
                <% for existing_opinion in @existing_opinions %>
                  <%= render(:partial => "/interpretor/opinion", :locals => {:opinion => @opinion, :existing_opinion => existing_opinion}) %>
                <% end %>
            <% end %>
            <hr/>
            <% if @opinion %>
                <%= render(:partial => "paragraph_editor_opinion", :locals => { :opinion => @opinion, :notification => nil } ) %>


            <% else %>

                <%= link_to(image_tag("icons/backward.png", :border => 0), "/edit_review/#{@review.id}/#{@paragraph_previous_id}") if @paragraph_previous_id %>
                <%= link_to(image_tag("icons/foward.png", :border => 0), "/edit_review/#{@review.id}/#{@paragraph_next_id}", :style => "margin-right:30px;") if @paragraph_next_id %>

                <% if @existing_opinions.size == 0 %>
                    <!-- neutral paragraph -->
                    <span style="margin-right:50px;">
                        neutral paragraph<%= check_box_tag("neutral", nil, paragraph.is_neutral,
                                             :onchange => remote_function(:url => { :action => "neutral_paragraph_toggle", :id => paragraph.id},
                                                                          :with => "'?is_neutral='+ this.checked" ) ) %>
                    </span>
                <% end %>

              <%= render(:partial => "opinion_selector_type", :locals => { :paragraph => paragraph }) %>



            <% end %>



        </div>


    <% else %>
        <!-- a paragraph -->
        <div style="background-color:white; border:1px solid black) %>; margin-top:5px; margin-bottom:5px; padding:3px;"
             onclick="window.location = '/edit_review/<%= @review.id %>/<%= paragraph.id %>'">
            <%= object_state paragraph %>
            <%= paragraph.content_without_html %>
        </div>
    <% end %>

    

<% end %>

<!-- scroll the page to the current paragraph -->
<script>
  
    self.scroll(0, (document.getElementById('div_paragraph_editor').offsetTop - 400) )
</script>