<style type="text/css">
    label { color:gray; }
    field { color:darkgray; }
    .list { border-bottom:1px solid black; padding-bottom:2px;}
    .list div { margin-bottom:2px;""}
    .clearBoth { clear:both; margin-top:2px;}
    .autocomplete_select { display:none; }
    .comparator_operator { font-size:120%; font-weight:bold; margin-top:5px;}
</style>

<h2>in review <%= @review.products.collect(&:label).join(', ') %> </h2>
 review_id=<%= @review.id %>,
opinion_id=<%= @current_opinion.id %>
<hr/>
<div style="max-height:250px; overflow:auto;">
  <% for current_index in 0..@paragraphs_size-1 %>

    <% if current_index == @paragraph_index %>
       <div style="margin-bottom:5px; padding:2px; background-color:lightgray;">
      <a name="current_paragraph"><%= @paragraphs[current_index].content %></a>
    </div>
    <% else %>
      <div style="margin-bottom:5px; padding:2px;">
      <%= @paragraphs[current_index].content %>
    </div>
    <% end %>

  <% end %>    
</div>
 <hr/>
<% if (opinions = @review.opinions).size > 0 %>
    <h2><%= pluralize(opinions.size, "opinions") %> so far</h2>
    <% for opinion in opinions %>
        <div><%= opinion.to_html %></div>
    <% end %>
<% end %>

<h2>
  in paragraph 
  <%= link_to(image_tag("icons/backward.png", :border => 0), :action => "test", :id => @review.id, :paragraph_index => @paragraph_index - 1, :anchor => "current_paragraph") unless @is_first_paragraph %>
  <%= link_to(image_tag("icons/foward.png", :border => 0), :action => "test", :id => @review.id, :paragraph_index => @paragraph_index + 1, :anchor => "current_paragraph") unless @is_last_paragraph %>
  <%= @paragraph_index + 1 %>/<%= @paragraphs_size %>
  &nbsp;which dimensions are involved?
</h2>

<%= render(:partial => "/interpretor/dimensions_related", :locals => {:knowledge => @knowledge, :opinion => @current_opinion} ) %>



<h2>
  this paragraph describes
  <%= radio_buttons("opinion_selector", [ ["a tip ", "opinion_selector_tip"],["a comparaison ", "opinion_selector_comparator"], ["a rating ", "opinion_selector_rating"], ["a ranking", "opinion_selector_ranking"] ], "opinion_selector_tip") %>
</h2>
<h2>for usage <%= text_field_tag(:usage, "", :size => "100") %><%= submit_tag "create opinion", :style => "margin-left:20px;" %></h2>

<div id="div_opinion_selector" style="height:300px;"><%= render(:partial => "opinion_selector_tip") %></div>


