


<!-- header -->
<table style=" background-color:white; width:100%; border:1px solid black; margin-bottom:10px;">
    <tr>
        <td valign="top" width="<%= 95 * @products4review.size %>">        
            <% for product in @products4review %>
                  <div class="image"><%= link_to(product_image(product), "/product/#{product.idurl}") %></div>
            <% end %>
            <br class="pkz_clearBoth" />
        </td>
        <td valign="top">
            <%= render(:partial => "/reviews/short", :locals => {:review => @review } ) %>
        </td>
    </tr>
</table>



<div style="max-height:250px; overflow:hidden;">
    <% for current_index in 0..@paragraphs_size-1 %>
        <% if current_index == @paragraph_index - 1 %>
          <div style="border:1px solid black; margin-top:5px; padding:5px; background-color:white;">
              <a name="previous_paragraph"><%=h @paragraphs[current_index].content_without_html %></a>
          </div>
        <% elsif current_index == @paragraph_index %>
            <div style="border:1px solid black; margin-top:5px; padding:5px; background-color:lightgray;">
                <a <%= "name=\"previous_paragraph\"" if current_index==0 %>name="current_paragraph"><%=h @paragraphs[current_index].content_without_html %></a>
            </div>
        <% else %>
            <div style="border:1px solid black; margin-top:5px; padding:5px; background-color:white;">
                <%=h @paragraphs[current_index].content_without_html %>
            </div>
        <% end %>
    <% end %>
</div>



<h2>
  Create opinion in paragraph
  <%= link_to(image_tag("icons/backward.png", :border => 0), :action => "test", :id => @review.id, :paragraph_index => @paragraph_index - 1, :anchor => "previous_paragraph") unless @is_first_paragraph %>
  <%= link_to(image_tag("icons/foward.png", :border => 0), :action => "test", :id => @review.id, :paragraph_index => @paragraph_index + 1, :anchor => "previous_paragraph") unless @is_last_paragraph %>
  <%= @paragraph_index + 1 %>/<%= @paragraphs_size %>
  &nbsp;which dimensions are involved?
</h2>

<%= render(:partial => "/interpretor/dimensions_related", :locals => {:knowledge => @current_knowledge, :opinion => @opinion} ) %>



<h2>
  this paragraph describes
  <%= radio_buttons("opinion_selector", [ ["a tip ", "opinion_selector_tip"],["a comparaison ", "opinion_selector_comparator"], ["a rating ", "opinion_selector_rating"], ["a ranking", "opinion_selector_ranking"] ], "opinion_selector_tip") %>
</h2>
<h2>for usage <%= text_field_tag(:usage, "", :size => "100") %><%= submit_tag "create opinion", :style => "margin-left:20px;" %></h2>

<div id="div_opinion_selector" style="height:300px;"><%= render(:partial => "opinion_selector_tip", :locals => { :opinion => @opinion} ) %></div>


<hr/>
<% if (opinions = @review.opinions).size > 0 %>
    <h2><%= pluralize(opinions.size, "opinions") %> so far</h2>
    <% for opinion in opinions %>
        <div><%= opinion.to_html %></div>
    <% end %>
<% end %>