<tr id="thematrix_<%= specification.level %>" >
  <td class="feature_header">
       <%= render(:partial => "/knowledges/specification_show", :locals => { :specification => specification }) %>
   </td>
   <% for product in products %>
        <td style="background-color:<%= specification.color_from_status(product) %>;" >
              <%= render(:partial => "/knowledges/specification_value_show",
                         :locals => { :specification => specification, :product => product }) %>

        </td>
   <% end %>
</tr>

<% for sub_specification in specification.children %>
    <%= render(:partial => "/knowledges/show_bis",
                       :locals => { :specification => sub_specification,
                                    :products => products,
                                    :padding_right_px_step => padding_right_px_step,
                                    :padding_right_px_current => padding_right_px_step }) %>
<% end %>


