
<tr id="<%= feature.dom_id %>">
  <td class="feature_header">
     
       <%= render(:partial => "feature_show",
                  :locals => { :knowledge => knowledge, :feature => feature }) %>
     </div>
   </td>
   <% for product in products %>
        <td style="background-color:<%= feature.color_from_status(product) %>;" >
              <%= render(:partial => "feature_value_show",
                         :locals => { :knowledge => knowledge, :feature => feature, :product => product }) %>

        </td>
   <% end %>
</tr>

<% for sub_feature in feature.features %>
    <%= render(:partial => "/knowledges/show_bis",
                       :locals => { :knowledge => knowledge,
                                    :feature => sub_feature,
                                    :products => products,
                                    :padding_right_px_step => padding_right_px_step,
                                    :padding_right_px_current => padding_right_px_step }) %>
<% end %>


