<table style="width:100%;" style="margin-bottom:10px;" >
    <tr><td colspan="4">
        <% form_tag "/usages_list" do -%>
            usages&nbsp;
            <%= link_to(image_tag("icons/backward.png", :border => 0), "/usages_list?page=#{usages.prev.number}") if usages.prev? %>
             page <%= usages.number %>
            <%= link_to(image_tag("icons/foward.png", :border => 0), "/usages_list?page=#{usages.next.number}") if usages.next? %>
            <%= submit_tag "filter", :style => "margin-left:30px;" %>
        <% end -%>
        <hr/>
    </td></tr>

    <tr>
        <th align="left">date</th>
        <th align="left">label</th>
        <th align="left">nb opinions</th>
    </tr>
    <% for usage in usages %>
        <tr>
            <td><%= usage.created_at.strftime(Root.default_date_format) %></td>
            <td><%= usage.label %></td>
            <td>
                <%= link_to_remote(pluralize(Opinion.count(:usage_ids => usage.id), "opinion"),
                         :url => {:action => "edit_usage_open", :id => usage.id  } ,
                         :html => { :style => "font-size:80%; margin-left:10px;" } ) %>
            </td>
        </tr>
      <tr><td colspan="3"><div id="div_usage_extra_<%= usage.id %>"></div></td></tr>
    <% end %>
</table>