

<div class="pkz_box">

  <%= model_selector(@current_knowledge, :dimensions) %>


  <div style="margin-bottom:10px;" >

      <h2>Dimensions of rating</h2>

      <% form_tag "/products/compute_aggregation" do -%>
        <div style="border-bottom:1px dashed black; padding-bottom:5px; margin-bottom:5px;">last computed @ <%= @current_knowledge.last_aggregation_timestamp %></div>
        <div style="">
            consider opinions
            <span style="font-size:80%;">
                <%= check_box_tag "use_relative", :relative, true %> relative,
                <%= check_box_tag "use_absolute", :absolute, true %> absolute
            </span>
            <span style=" margin-left:10px;">obsolescence=<%= text_field_tag "obsolescence", "6", :size => 2 %>months</span>
            <span style=" margin-left:10px;">missing factor<small>(0..1)</small>=<%= text_field_tag "missing_factor", "0.18", :size => 3 %></span>
            <%= submit_tag "recompute ratings/rankings", :style => "margin-left:10px;" %>
        </div>
      <% end -%>

      <div id="list_dimensions" style="margin-top:10px; border-top:1px solid black; padding:5px;">
        <table>
            <%= render(:partial => "/knowledges/dimensions", :locals => {  :dimensions => [@dimension_root]}) %>
        </table>
      </div>

  </div>

</div>


