

<div class="pkz_box">

  <%= model_selector(@current_knowledge, :dimensions) %>


  <div style="margin-bottom:10px;" >

      <h2>
        Dimensions of rating
        <span class="pkz_small pkz_next">
            last computed @ <%= @current_knowledge.last_aggregation_timestamp %>
        </span>
        <%= link_to_function "recompute", "document.getElementById('form_recompute').toggle();", :class => "pkz_small pkz_next pkz_link" %>
      </h2>

      <% form_tag "/products/compute_aggregation", :id => "form_recompute", :style => "display:none;" do -%>
            <span class="pkz_bold">consider opinions</span>
                <%= check_box_tag "use_relative", :relative, true %> comparator & ranking,
                <%= check_box_tag "use_absolute", :absolute, true %> rating & tip
            <br/>
            <span class="pkz_bold">obsolescence=</span><%= text_field_tag "obsolescence", "6", :size => 2 %>months
            <span class="pkz_bold pkz_next">missing factor<small>(0..1)</small>=</span><%= text_field_tag "missing_factor", "0.18", :size => 3 %>
            <%= submit_tag "recompute ratings/rankings", :class => "pkz_next pkz_link" %>
      <% end -%>

      <div style="margin-top:10px; border-top:1px solid black; padding:5px;">
        <table id="list_dimensions" >
            <%= render(:partial => "/knowledges/dimensions", :locals => {  :dimensions => [@dimension_root]}) %>
        </table>
      </div>

  </div>

</div>


