

<div class="pkz_box">

  <%= model_selector(@knowledge, :distance) %>

  <div>
    Feature<%= feature_selector(@knowledge, @feature.idurl) %>
    &nbsp;
    <%= link_to_function("filter products...", "document.getElementById('select_products').toggle();") %>
  <div>

  <%= render(:partial => "/knowledges/products_selection",
        :locals => { :page_url => "/distance/#{@knowledge.idurl}/#{@feature.idurl}", :knowledge => @knowledge, :products => @products, :products_selected => @products_selected }) %>

  
  <div class="pkz_main"  >
    <table border=1 style="background-color:white;">
      <tr>
        <td></td>
        <% for product in @products_selected %>
          <td ><div style="width:140px; overflow:hidden; text-align:center; "><%= product.idurl %><small><br/><%= @feature.get_value(product) %></small></div></td>
        <% end %>
      </tr>
      <% for product in @products_selected %>
          <tr>
            <td><%= product.idurl %><small><br/><%= @feature.get_value(product) %></small></td>
            <%= @products_selected.collect { |p| "<td align='center' style=\"background-color:#{ product == p ? 'pink' : 'lightgray'};\">#{@feature.distance(product, p) }</td>" }.join('') %>
          </tr>
        <% end %>
    </table>
  </div>

  <div class="pkz_main"  >
    un beau dessin...
  </div>
</div>