

<div class="pkz_box">

  <%= model_selector(@knowledge, :distance) %>

  <div>
    Feature<%= feature_selector(@knowledge, @feature.key) %>
    &nbsp;
    <%= link_to_function("filter products...", "document.getElementById('select_products').toggle();") %>
  <div>

  <div id="select_products" style="display:none; border: 1px dashed black; margin:5px;">
     <% for product in @products %>
          <%=  check_box_tag("cb_#{product.key}", value = "1", checked = true)  %><%= product.key %>&nbsp;
       <%= product.key %>
     <% end %>
  </div>

  <div class="pkz_main" style="max-width:100%; max-height:400px; overflow:scroll;" >
    <% products_column = @products.last(@products.size - 1) %>
    <table border=1 >
      <tr>
        <th></th>
        <% for product in products_column %>
          <th ><div style="width:100px; overflow:hidden;"><%= product.key %><small><br/><%= @feature.get_value(product) %></small></div></th>
        <% end %>
      </tr>
      <% for product in @products %>
          <tr>
            <th><%= product.key %><small><br/><%= @feature.get_value(product) %></small></th>
            <%= products_column.collect { |p| "<td align='center'>#{@feature.distance(product, p) }</td>" }.join('') %>
          </tr>
        <% end %>
    </table>
  </div>

</div>