


<div class="pkz_box">

  <%= model_selector(@current_knowledge, :matrix) %>

  <div>
    <%= link_to_function("filter products...#{@products_selected.size}/#{@products.size}", "document.getElementById('select_products').toggle();") %>
  </div>

  <%= render(:partial => "/knowledges/products_selection",
        :locals => { :page_url => "/products_opinions/#{@current_knowledge.idurl}", :knowledge => @current_knowledge, :products => @products, :products_selected => @products_selected }) %>

  <h2>stats</h2>
    <table border=1 cellpadding=2>
      <tr><th></th><th>nb reviews</th><th>nb opinions</th><th>Tip</th><th>Rating</th><th>Comparator</th></tr>
      <tr><th>Source / Total</th>
        <th align="right"><%= Review.count %></th>
        <th align="right"><%= Opinion.count %></th>
        <th align="right"><%= Tip.count %></th>
        <th align="right"><%= Rating.count %></th>
        <th align="right"><%= Comparator.count %></th>
      </tr>
      <%= by_source = Review.all.group_by { |r| r.source }.collect { |source, reviews| [source, reviews] }
          by_source.sort! { |o1, o2| o2.last.size <=> o1.last.size }
          by_source.collect do |source, reviews|
        "<tr>
            <td>#{source.inspect}</td>
            <td align=\"right\">#{reviews.size}</td>
            <td align=\"right\">#{Opinion.count(:review_id => reviews.collect(&:id))}</td>
            <td align=\"right\">#{Tip.count(:review_id => reviews.collect(&:id))}</td>
            <td align=\"right\">#{Rating.count(:review_id => reviews.collect(&:id))}</td>
            <td align=\"right\">#{Comparator.count(:review_id => reviews.collect(&:id))}</td>
        </tr>"
        end.join %>
    </table>

  <hr/>
  
    <table border=1>
      <tr><th>product</th> <th>opinions</th></tr>

        <% for product in @products_selected %>
          <tr>
            <td valign="top">
              <%= link_to("#{product_image(product)}<br/>#{product.label}", "/products/#{product.idurl}") %>
            </td>
            <td valign="top">
                <ul>
                  <% for opinion in product.opinions(:except_review_category => "amazon") %>
                    <li><%= opinion.to_html2 %> <%= origin_review(opinion.review, :opinion => opinion, :style => "font-size:80%;") %></li>
                  <% end %>
                </ul>
            </td>

           </tr>

        <% end %>
    </table>

</div>


