


<div class="pkz_box">

  <%= model_selector(@knowledge, :matrix) %>

  <div>
    <%= link_to_function("filter products...#{@products_selected.size}/#{@products.size}", "document.getElementById('select_products').toggle();") %>
  </div>

  <%= render(:partial => "/knowledges/products_selection",
        :locals => { :page_url => "/products_opinions/#{@knowledge.idurl}", :knowledge => @knowledge, :products => @products, :products_selected => @products_selected }) %>


    <table border=1>
      <tr><th>product</th> <th>opinions</th></tr>

        <% for product in @products_selected %>
          <tr>
            <td valign="top">
              <%= link_to("#{product_image(product)}<br/>#{product.label}", "/products/#{product.idurl}") %>
            </td>
            <td valign="top">
                <ul>
                  <% for opinion in product.opinions(:except_review_category => "amazon") %>
                    <li><%= opinion.to_html %> <%= origin_review(opinion.review, :opinion => opinion, :style => "font-size:80%;") %>
                      </li>
                  <% end %>
                </ul>
            </td>

           </tr>

        <% end %>
    </table>

</div>


