

<div class="pkz_box">

  <%= model_selector(@knowledge, :matrix) %>

  <div>
    <%= link_to_function("filter products...", "document.getElementById('select_products').toggle();") %>
  <div>

  <div id="select_products" style="display:none; border: 1px dashed black; margin:5px;">
     <% for product in @products %>
          <%=  check_box_tag("cb_#{product.key}", value = "1", checked = true)  %><%= product.key %>&nbsp;
       <%= product.key %>
     <% end %>
  </div>

  <div class="pkz_main" style="max-width:100%; max-height:400px; overflow:scroll;" >

    <table border=1 >
      <tr>
        <th></th>
        <% for product in @products %>
          <th ><%= product.key %></th>
        <% end %>
      </tr>
      <% for feature in @features %>
          <tr>
            <td><div style="width:200px; font-weight:bold;"><%= feature.label_hierarchical %></div></td>
            <%= @products.collect { |p| "<td align='center'>#{feature.get_html_editor(p) }</td>" }.join('') %>
          </tr>
        <% end %>
    </table>
  </div>

</div>