


<div class="pkz_box">

  <%= model_selector(@knowledge, :matrix) %>

  <div>
    <%= link_to_function("filter products...", "document.getElementById('select_products').toggle();") %>
  <div>

  <%= render(:partial => "/knowledges/products_selection",
        :locals => { :page_url => "/matrix/#{@knowledge.key}", :knowledge => @knowledge, :products => @products, :products_selected => @products_selected }) %>


  <div class="pkz_main"  >
    <table border=1 style="background-color:white;">
      <tr>
        <th></th>
        <% for product in @products_selected %>
          <th ><%= product.key %></th>
        <% end %>
      </tr>
      <% for feature in @features %>
          <tr>
            <td><div style="width:200px; font-weight:bold;"><%= feature.label_hierarchical %></div></td>
            <%= @products_selected.collect { |p| "<td align='center'>#{feature.get_html_editor(p) }</td>" }.join('') %>
          </tr>
        <% end %>
    </table>
  </div>

</div>