

<div class="pkz_box">

  <div class="pkz_menu">
    Opinions for
    <%= " <b>#{@feature.label_full}</b>" %>
    <%= "and product=<b>#{@product.label}</b>" %>
  </div>

  <div class="pkz_main">
    <table  border=1>
        <tr><th>key</th><th>class</th><th>opinion</th><th>aggregation</th></tr>
        <% for k,v in @opinions %>
            <tr>
              <td valign="top"><%= k %></td>
              <td valign="top"><%= v.class %></td>
              <td valign="top"><%= v.value %></td>
              <td valign="top"><%= v.aggregation.class %></td>
            </tr>
        <% end %>
    </table>
  </div>

</div>