
<script>
  function tr_arrow(p_key, weight)
  {
    var textWeight = " ";
    var textColor = "white";
    if (weight > 0) {
        textWeight = '+' + weight;
        textColor = "green";
    }
    if (weight < 0) {
        textWeight = weight;
        textColor = "red" ;
    }
    document.getElementById('tensor_' + p_key).childNodes[0].nodeValue = textWeight  ;
    document.getElementById('tensor_' + p_key).style.backgroundColor = textColor ;
   }

  function clean_up_arrows()
  {
      <%= @quiz.products.collect { |product| "clean_up_one_arrow('#{product.key}');"}.join(' ') %>
  }


  function clean_up_one_arrow(p_key)
  {
    document.getElementById('tensor_' + p_key).childNodes[0].nodeValue = " "  ;
    document.getElementById('product_' + p_key).style.backgroundColor = "white" ;
  }
</script>

<div class="pkz_box">


<div class="pkz_menu">
    <span>
      Quiz <%= @quiz.key %>
      <small>
        <%= pluralize(@quiz_instance.nb_answers, "answer") %>
        &nbsp;
        <%= link_to("back to #{@knowledge.label}", "/show/#{@knowledge.key}")%>
      </small>
    </span>
</div>

<div class="pkz_main">
  <% if next_question = @current_ar_user.pkz_user.get_next_question(@knowledge, @quiz) %>
    <small>
      <%= next_question.key %>,&nbsp;
      <%= pluralize next_question.nb_choices, "choice" %>,&nbsp;
      <%= next_question.is_choice_exclusive ? "exclusive" : "multiple" %>,&nbsp;
      pre-condition:<%= next_question.precondition_expression || 'none' %>
    </small>
    <!-- the form -->
    <% type_selector = next_question.is_choice_exclusive ? "radio" : "checkbox" %>
    <% form_tag "/answer", :style => "margin-bottom:10px;" do -%>
      <%= hidden_field_tag "user_key", @current_ar_user.key %>
      <%= hidden_field_tag "knowledge_key", @knowledge.key %>
      <%= hidden_field_tag "quiz_key", @quiz.key %>
      <%= hidden_field_tag "question_key", next_question.key %>
      <div style="font-weight:bold; margin:5px;"><%= link_to(next_question.label, "/questions/#{@knowledge.key}/#{next_question.key}") %></div>
      <% for choice in next_question.choices %>
          <% if next_question.is_choice_exclusive %>
            <%= radio_button_tag "choices_keys_ok[]", choice.key %>
          <% else %>
            <%= check_box_tag "choices_keys_ok[]", choice.key %>
          <% end %>
          <%= choice.label %>&nbsp;&nbsp;
      <% end %>
      <%= submit_tag "next" %>
    <% end -%>

  <% else %>
    no more question for this quiz/user
  <% end %>
</div>

<div class="pkz_main">
  <table><tr><td width="50%" valign="top">
      <ul>
      <% for affinity in @quiz_instance.sorted_affinities %>
          <li id="product_<%= affinity.product_key %>">

          #<%= affinity.ranking %>
          <span id="tensor_<%= affinity.product_key %>" style="border:1px solid white;">&nbsp;</span>
          <%= affinity.product_key %>&nbsp;
          <small>affinity=<%= "%3d" % (affinity.measure * 100) %>%,&nbsp;confidence=<%= "% 3d" % (affinity.confidence * 100) %>%</small>
          &nbsp;
          </li>
      <% end %>
      </ul>
  </td><td width="50%" valign="top">
    
      <% for question in @knowledge.questions_sorted(@quiz.products, @current_ar_user.pkz_user) %>
          <% if answered_choice_keys = @quiz_instance.user_last_answer_choice_keys_ok(question.key) %>
              <%= render(:partial => "knowledges/quiz_question",
                         :locals => { :answered_choice_keys => answered_choice_keys,
                                      :current_ar_user => @current_ar_user,
                                      :quiz => @quiz,
                                      :knowledge => @knowledge,
                                      :question => question })%>
          <% end %>
      <% end %>

      <% for question in @knowledge.questions_sorted(@quiz.products, @current_ar_user.pkz_user) %>
          <% unless answered_choice_keys = @quiz_instance.user_last_answer_choice_keys_ok(question.key) %>
              <%= render(:partial => "knowledges/quiz_question",
                         :locals => { :answered_choice_keys => answered_choice_keys,
                                      :current_ar_user => @current_ar_user,
                                      :quiz => @quiz,
                                      :knowledge => @knowledge,
                                      :question => question })%>
          <% end %>
      <% end %>

  </td></tr></table>
</div>

</div>