<div class="pkz_box">
  <%= model_selector(@knowledge, :questions) %>
    <div class="pkz_main">
      <% for question in @knowledge.questions %>
        <div class="pkz_item_list">
            <%= render(:partial => "knowledges/show_question", :locals => { :question => question, :products => @products }) %>
            <a href="/medias/<%= @knowledge.key %>/question/<%= question.key %>" class='pkz_background'>&nbsp;<%= question.get_backgrounds.size > 0 ? question.get_backgrounds.size : '&nbsp;&nbsp;' %>&nbsp;</a>

            <div>
              <%= pluralize question.nb_choices, "choice" %>,&nbsp;
              <%= question.is_choice_exclusive ? "exclusive" : "multiple" %>:
              <%= question.choices.collect { |choice| choice.label.inspect << "<a href='/medias/#{@knowledge.key}/question/#{question.key}/#{choice.key}' class='pkz_background'>&nbsp;#{choice.get_backgrounds.size > 0 ? choice.get_backgrounds.size : '&nbsp;&nbsp;'}&nbsp;</a>" }.join(', ') %>
            </div>
        </div>
      <% end %>
    </div>
</div>
