<div class="pkz_box">
    <div class="pkz_menu">
      <%= @question.label %>
      <small> in <%= link_to "questions", "/questions/#{@knowledge.key}"%> of knowledge base <%= link_to @knowledge.key, "/show/#{@knowledge.key}"%></small>
    </div>
    <div class="pkz_main">
        <div>
            key=#<%= @question.key %><br/>
            <%= pluralize @question.nb_presentation.round, "presentation" %>
            [valid=<%= "%d" % @question.nb_presentation_valid %> (<%= "%d" % (@question.proba_valid * 100) %>%),&nbsp;
            no-opinion=<%= "%d" % @question.nb_oo %> (<%= "%d" % (@question.proba_oo * 100) %>%)],&nbsp;
            separation=<%= "%d" % @question.separation(@products) %>
            (<%= pluralize @question.nb_recommendation, "recommendation" %>)

            <br/>
            pre-condition:<%= @question.precondition_expression || 'none' %>,&nbsp;
            <%= pluralize @question.nb_choices, "choice" %>,&nbsp;
            <%= @question.is_choice_exclusive ? "exclusive" : "multiple" %>
            <!-- discrimination=<%= "%d" % (@question.discrimination * 100) %>% -->


        <div>

        <ol>
          <% for choice in @question.choices %>
            <li>
              <%= choice.label.inspect %>
              <div>
                statistic:
                ok=<%= "%d" % choice.nb_ok %> (<%= "%d" % (choice.proba_ok * 100) %>%),&nbsp;
                ko=<%= "%d" % choice.nb_ko %> (<%= "%d" % (choice.proba_ko * 100) %>%), &nbsp;
                <!-- discrimination=<%= "%d" % (choice.discrimination * 100) %>%,&nbsp; -->
                separation=<%= "%d" % choice.separation(@products, nil) %>
                
                
              <div>

              recommendations:&nbsp;<%= Pikizi::Tensor.hash_to_s(choice.generate_hash_pkey_tensor(@products)) %>

            </li>
          <% end %>
        </ol>
    </div>

</div>