<% for dimension in dimensions %>
    <div class="pkz_specification_level_<%= dimension.level %>">
      <b><%= dimension.get_specification_html %></b>
      <%= dimension.get_value_html(product) %>

      <%= image_tag('icons/add.png', :border => 0, :title => "add a new child feature") if dimension.level <= 1%>
      <% if dimension.parent_id %>
          <%= link_to_remote("edit...", :url => {:action => "edit_dimension_open", :id => dimension.id, :product_id => product.id } , :style => "font-size:80%;") %>
          <div id="div_dimension_extra_<%= dimension.id %>"></div>
      <% end %>

    </div>
    <%= render(:partial => "/products/dimensions", :locals => { :knowledge => knowledge, :dimensions => dimension.children , :product => product}) %>
<% end %>
