
<table class="pkz_dimension_explanation" cellspacing="0" cellpadding="5" >
    <tr>
      <% style_header = "style=\"border-bottom:1px solid gray;\"" %>
      <td <%= style_header %>><%= link_to_remote("close explanation", :url => "/products/dimension_explanation_close/#{dimension.id}", :html => {:style => "font-size:80%;"}) %></td>
      <th colspan="2" <%= style_header %>>
        <%= dimension.get_value_in_min_max_rating_html(product) %>
      </th>
      <% for category, weight in Review.categories_as_percentage %>
        <th <%= style_header %>>
          <%= category %><small>&nbsp;<%= weight %>%</small>
        </th>
      <% end %>
    </tr>
    <% style_line = "style=\"border-bottom:1px dashed gray;\"" %>

    <tr>
      <th <%= style_line %>>
        <%= nb_rating %> tips & ratings
      </th>

      <td <%= style_line %>><%= (Dimension.line_2_weight[:rating] * 100).round %>%</td>

      <td <%= style_line %>><%= average_rating01 ? dimension.get_value01_in_min_max_rating_html(average_rating01) : 'n/a' %></td>
      <% for category, weight in Review.categories %>
        <% category_rating01, rating_ids = hash_category_rating01[category] %>
        <td <%= style_line %>>
          <% if category_rating01 %>
              <%= dimension.get_value01_in_min_max_rating_html(category_rating01) %>
              <%= link_to_function("for #{pluralize(rating_ids.size, 'opinions')}",
                                   "document.getElementById('list_ratings_dimension_#{dimension.id}_#{category}').toggle();",
                                   :style => "font-size:80%; margin-left:5px;") %>
              <div id="list_ratings_dimension_<%= dimension.id %>_<%= category %>" style="font-size:80%;  text-align:left; display:none;">
                  <% for rating in Opinion.find(rating_ids) %>
                      <div>-&nbsp;<%= link_to(rating.to_html, "/edit_review/#{rating.review_id}/#{rating.paragraph_id}/#{rating.id}") %></div>
                  <% end %>
              </div>
          <% else %>
            <small>N/A</small>
          <% end %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th <%= style_line %>><%= nb_elo %>  comparaisons & rankings (elo)</th>
      <td <%= style_line %>><%= (Dimension.line_2_weight[:comparaison] *100).round %>%</td>
      <td <%= style_line %>><%= average_elo01 ? dimension.get_value01_in_min_max_rating_html(average_elo01) : 'n/a' %></td>
      <% for category, weight in Review.categories %>
          <% comparaison_ids = hash_category_elo01[category] %>
          <td <%= style_line %>>
          <% if comparaison_ids and comparaison_ids.size > 0 %>
              <%= link_to_function("for #{pluralize(comparaison_ids.size, 'opinions')}",
                                   "document.getElementById('list_comparaisons_dimension_#{dimension.id}_#{category}').toggle();",
                                   :style => "font-size:80%; margin-left:5px;") %>
              <div id="list_comparaisons_dimension_<%= dimension.id %>_<%= category %>" style="font-size:80%; text-align:left; display:none;">
                  <% for comparaison in Opinion.find(comparaison_ids) %>
                      <div>-&nbsp;<%= link_to(comparaison.to_html, "/edit_review/#{comparaison.review_id}/#{comparaison.paragraph_id}/#{comparaison.id}") %></div>
                  <% end %>
              </div>
          <% else %>
              <small>N/A</small>
          <% end %>
          </td>
      <% end %>
    </tr>
  

    <% if dimension.children.count > 0 %>
        <tr>
          <th  <%= style_line %>>aggregation of sub-dimension(s)</th>
          <td  <%= style_line %>><%= (Dimension.line_2_weight[:sub_dimensions] *100).round %>%</td>
          <td <%= style_line %>><%= average_sub01 ? dimension.get_value01_in_min_max_rating_html(average_sub01) : 'n/a' %></td>
          <td  <%= style_line %> colspan="<%= Review.categories.size %>">
            for <%= dimension.children.collect { |sub_d| "#{sub_d.label} (#{sub_d.get_value_in_min_max_rating_html(product)})" }.join(', ') %>
          </td>
        </tr>
    <% end %>
</table>

