<% remote_form_for(dimension, :url => {:action => "edit_dimension", :id => dimension.id, :product_id => product.id },
             :html => {:style =>"background-color:pink; padding:5px;" }) do |f| -%>
      <p>
        label <%= f.text_field :label %>
        &nbsp;ranking number <%= f.text_field :ranking_number, :size => 2 %>
        &nbsp;is an aggregate <%= f.check_box :is_aggregate %>
      </p>
      <p>
        min_rating <%= f.text_field :min_rating, :size => 2 %>
        max_rating <%= f.text_field :max_rating, :size => 2 %>
      </p>
      <p>parent <%= select_tag("dimension[parent_id]", options_for_dimensions(knowledge, :selected => dimension.parent_id, :max_level => 1)) %></p>
      <hr/>
      <%= submit_tag "update #{dimension.idurl}" %>&nbsp;<%= link_to("destroy", "") %>
    <%= link_to_remote("cancel",
            :url => {:action => "redisplay_dimension", :id => product.id},
            :html => { :style => "font-size:80%;" }) %>
  <% end -%>