<style type="text/css">
    div.image { border:1px solid black; float:left; margin-left:5px; margin-bottom:5px; height:85px; width:110px; }
    p { margin:0px;}
    .price_table tr th { background-color:lightgray; }
    .price_table tr td { border-bottom:1px solid black; }
</style>



<h1>Editing product</h1>

   <div style="">
    create a new product with idurl=
    <%= text_field_tag :new_product_idurl, nil, :size => 20 %>
        <%= link_to_function("create...", "window.location = '/products/create_byidurl/#{@current_knowledge.idurl}?product_id=#{@product.id}&new_idurl=' +  document.getElementById('new_product_idurl').value;") %>
        <span id="create_new_product_message"><%= @messages_creating_product_by_idurl %></span>
  </div>
<hr/>

<h2><%= @current_knowledge.idurl %>/<%= @product.idurl %>:<%= link_to(@product.label, "/product/#{@product.idurl}") %></h2>


    <% form_tag "/products/update_header/#{@product.id}", :multipart => true  do -%>
        <table>
          <tr>
            <td  align="right"><label>label</label></td>
            <td>
              <%= text_field_tag :label, @product.label, :size => 30, :class => "field" %>
            </td>
          </tr>
          <tr>
            <td align="right"><label>url</label></td>
            <td>
              <%= text_field_tag :url, @product.url, :size => 80, :class => "field" %>
              <%= link_to('test...', @product.url, :style => "font-size:80%;") if @product.url %>
            </td>
          </tr>
          <tr>
            <td align="right"><label>release date</label></td>
            <td>
              <%= select_date @product.release_date, :prefix => :release_date %>
            </td>
          </tr>
          <% descripion_dom_id = "description_product_#{@product_id}" %>
          <tr>
            <td align="right"><label>description</label></td>
            <td>
              <%= file_field_tag :media_file %>
              <span style="font-size:80%; margin-left:20px;">
                <%= @product.description_id ? link_to_function("see current...", "document.getElementById('#{descripion_dom_id}').toggle();") : 'no description yet' %>
              </span>
            </td>
          </tr>
          <tr id="<%= descripion_dom_id %>" style="display:none;">
            <td colspan="2">
                <%= Media.datas(@product.description_id).read if @product.description_id %>
            </td>
          </tr>
          <tr>
            <td align="right"><label>similar products</label></td>
            <td><%= render(:partial => "/products/similar_products", :locals => {:product => @product}) %></td>
          </tr>
          <tr><td colspan="2" align="center">
                <%= submit_tag "Update #{@product.label}", :style => "margin-top:5px;" %>
          </td></tr>
        </table>
    <% end %>


<hr/>
    <% form_tag "/products/update_drivers/#{@product.id}"  do -%>
        <label>amazon_id</label>
        <%= text_field_tag :amazon_id, @product.get_driver(:amazon, :id), :size => 30, :class => "field" %>
        <% if @product.get_driver(:amazon, :id) %>
            currently <%= pluralize(nb_reviews_amazon = @product.reviews_count(:source => "amazon"), "review") %>,
            <% if nb_reviews_amazon > 0 %>
                last update:<%= @product.review_last.written_at %>
            <% end %>
            <%= check_box_tag("import_new_reviews", nil, nil, :class => "pkz_next") %>import new reviews
        <% end %>
        <%= submit_tag "Ok", :style => "margin-top:5px;", :class => "pkz_next" %>
    <% end %>


<hr/><h2>images</h2>
    <div class="image" style="width:250px;">
      <% form_tag "/products/add_image/#{@product.id}",  :style => "padding:5px;", :multipart => true  do -%>
        Add a new image...<br/>
        <%= file_field_tag :media_file %>
        <br/>
        <%= submit_tag 'ok', :style => "margin-left:110px; margin-top:10px;" %>
      <% end %>
    </div>
<% for image_ids in @product.image_ids %>
    <div class="image">
      <%= product_image(@product, 'thumb', image_ids) %>
      <%= link_to(image_tag("icons/stop.png", :border => 0), :controller => "products", :action => "delete_main_image", :id => @product.id, :main_image_id => image_ids['main']) %>
    </div>
<% end %>


<br class="pkz_clearBoth" />

<hr/>
<h2>Dimensions
  <span style="font-size:60%; margin-left:50px;">
    last computed @ <%= @current_knowledge.last_aggregation_timestamp %> <%= link_to("recompute...", "/products/compute_aggregation/#{@product.id}") %>
  </span>
</h2>

<div id="list_specifications" class="">
  <%= render(:partial => "/products/dimensions", :locals => {  :dimensions => [@current_knowledge.dimension_root], :product => @product}) %>
</div>
<hr/><h2>availability and merchants</h2>

<%= render(:partial => "/offers/list", :locals => {:product => @product}) %>

<h2>Specifications<%= image_tag('icons/add.png', :border => 0, :title => "add a new child feature", :style => "margin-left:30px;") %></h2>
<%= render(:partial => "/specifications/list", :locals => { :product => @product}) %>

