<p>
  <b>idurl:</b>
  <%=h @product.idurl %>
</p>
<p>
  <b>Label:</b>
  <%=h @product.label %>
</p>

<p>
  <b>Author:</b>
  <%=h @product.author_id %>
</p>

<p>
  <b>Datas:</b>
  <% if @product.pikizi_product %>
	<% for knowledge_idurl in @product.pikizi_product.described_by_knowledge_idurls %>
		pikizi_model_xml=<%= Knowledge.find_by_idurl(knowledge_idurl).pikizi_model_xml %>
	<% end %>
  <% else %>
	'none'
  <% end %>
</p>


<%= link_to 'Back', products_path %>