<p>
  <b>Key:</b>
  <%=h @product.key %>
</p>
<p>
  <b>Label:</b>
  <%=h @product.label %>
</p>

<p>
  <b>Author:</b>
  <%=h @product.author_id %>
</p>

<p>
  <b>Datas:</b>
  <% if @product.pikizi_product %>
	<% for knowledge_key in @product.pikizi_product.described_by_knowledge_keys %>
		pikizi_model_xml=<%= Knowledge.find_by_key(knowledge_key).pikizi_model_xml %>
	<% end %>
  <% else %>
	'none'
  <% end %>
</p>


<%= link_to 'Back', products_path %>