<% unless type_opinion == "none" %>

    <% form_remote_tag :url => "/reviews/create_opinion/#{review.id}" do -%>

        <%= hidden_field_tag "paragraph_id", paragraph.id %>
        <%= hidden_field_tag "type_opinion", type_opinion %>

        <div style="margin-top:5px; padding-top:2px;">
            <% if type_opinion == "tip" %>
                <%= select_tag("tip_intensity_or_neutral", options_for_select(Opinion::Tip.intensities) ) %>
                for usage <%= text_field_tag("tip_usage", nil, :size => 80 ) %>

            <% elsif type_opinion == "comparator_product" %>
                <%= select_tag("comparator_operator", options_for_select([["better than","better"], ["same as","same"], ["worse than","worse"]])) %>
                product
                <%= select_tag("comparator_product", options_for_select(dimension_product(knowledge)) ) %>

            <% elsif type_opinion == "comparator_feature" %>
                <%= select_tag("comparator_operator", options_for_select([["better than","better"], ["same as","same"], ["worse than","worse"]])) %>
                products with feature
                <%= select_tag("comparator_feature", options_for_select(dimension_feature(knowledge, :comparator)),
                    :onchange => remote_function(:url => { :action => "feature_filter", :id => review.id, :paragraph_id => paragraph.id },
                                                 :with => "'feature_idurl=' + document.getElementById('comparator_feature').value")) %>
                <span id="filter_feature"></span>
            <% elsif type_opinion == "rating" %>
                <%= type_opinion %> <%= text_field_tag("rating", nil, :size => 2) %> min=<%= text_field_tag("rating_min", "1", :size => 2) %> max=<%= text_field_tag("raiting_max", "5", :size => 2) %>

            <% elsif type_opinion == "feature_related" %>
                related to feature<%= dimension_feature_related(knowledge, review.id, paragraph) %>

            <% else %>
                type d'opinion inconnu <%= type_opinion %>
            <% end %>
            <% unless ["feature_related"].include?(type_opinion) %>
              <div style="border-top:1px dashed black; margin-top:5px; padding-top:2px;" >
                 dimension of rating&nbsp;<%= dimension_rating(knowledge, review.id, paragraph) %>
              </div>
            <% end %>
        </div>
        <div style="border-top:1px dashed black; margin-top:5px; padding-top:2px;">
            <%= submit_tag 'record opinion...' %>
            &nbsp;or&nbsp;
            <%= link_to_function("cancel", "document.getElementById('p#{paragraph.id}').innerHTML =''") %>
        </div>

    <% end -%>
<% end %>


