<table id="products_4_review" cellpadding="5">
  <% products = review.products %>
  <tr>
  <td valign="bottom">
    <%= select_tag("add_product_id", options_for_select(dimension_product(@current_knowledge, :minus => review.product_ids, :title => "add a product...")),
                      :onchange => remote_function(:url => { :action => "add_product_2_review", :id => review.id },
                                                   :with => "'product_id=' + document.getElementById('add_product_id').value")) %>
    <br/>    
    This review refers to <%= pluralize(products.size, "product") %>

  </td>
  <% for p in products %>
    <td>
      <%= link_to(image_tag("/medias/datas/#{p.image_ids.first['thumb']}", :border => 0), "/product/#{p.idurl}") %>
      <br/>
      <%= link_to_remote(image_tag('icons/status_icon_delete.png', :border => 0),
                         :url => { :controller => "reviews",
                                 :action => "delete_product_2_review",
                                 :id => review.id,
                                 :product_id => p.id }) %>
      <%= p.label %>
    </td>
  <% end %>

      </tr>
</table>