<div class="pkz_box">

    <%= model_selector(@current_knowledge, :reviews) %>

    <div style="background-color:green;"><%= flash[:notice] %></div>

    <div style="border:1px solid black; margin-top:10px;  background-color:white;" >
        <%= render(:partial => "products_4_review", :locals => {:review => @review }) %>
        <hr/>
        current state: <%= object_state(@review) %><%= @review.state_label.inspect %>
      <!--
        <span style="margin-left:150px;">
          mark all <%= @review.opinions.count %> opinions in this review as
          &nbsp;<%= link_to("draft", "/reviews/trigger_event/#{@review.id}/?event_name=correct", :style => "color:orange;") %>
          &nbsp;>>&nbsp;<%= link_to("publish", "/reviews/trigger_event/#{@review.id}/?event_name=submit", :style => "color:orange;") %>
          &nbsp;>>&nbsp;<%= link_to("ok", "/reviews/trigger_event/#{@review.id}/?event_name=accept", :style => "color:orange;") %>          
        </span>
        -->
    </div>

    <div style="border:1px solid black; padding:5px;  margin-top:10px;  background-color:white;">
        <% form_for :review, @review, :url => "/reviews/update/#{@review.id}" do |f| %>

              <%= render(:partial => "/reviews/form", :locals => {:review => @review, :f => f }) %>

              <p>
                <%= submit_tag 'Update review' %>
                <%= link_to("back 2 editor of paragraphs", "/edit_review/#{@review.id}", :style => "color:orange;  margin-left:30px;") %>
                <%= link_to("see original review", "/reviews/show/#{@review.id}", :style => "color:orange; font-size:80%; margin-left:30px;") %>
              </p>

        <% end %>
    </div>

    <% if @review.content %>
        <div style="border:1px solid black; margin-top:10px;  background-color:white;" >
             <p>generate paragraphs from content</p>
             <%= link_to("none", :controller => "reviews", :action => "split_in_paragraphs", :id => @review.id, :mode => "none") %>,&nbsp;
             <%= link_to("&lt;P&gt;", :controller => "reviews", :action => "split_in_paragraphs", :id => @review.id, :mode => "p") %>,&nbsp;
             <%= link_to("&lt;BR&gt;", :controller => "reviews", :action => "split_in_paragraphs", :id => @review.id, :mode => "br") %>,&nbsp;
             <%= link_to("&lt;P&gt;&amp;&lt;BR&gt;", :controller => "reviews", :action => "split_in_paragraphs", :id => @review.id, :mode => "p_br") %>
             &nbsp, this will remove all opinions !
        </div>
    <% end %>



</div>