<!-- interface eric -->
<% nb_reviews, nb_opinions = 0, 0 %>
<% for review in @reviews %>
    <% if (paragraphs = review.paragraphs).size > 0 and review.category != "amazon" and review.opinions.size > 0 %>
        <h2>review #<%= review.id %> source=<%= review.source %> category=<%= review.category %></h2>
        <% nb_reviews += 1 %>
        <% for paragraph in review.paragraphs %>
            <div style="border-top:1px solid black; margin-bottom:10px;">
                <small title="#<%=h paragraph.id %>">&para;</small>&nbsp;<%=h paragraph.content %>
                <% for opinion in paragraph.opinions %>
                    <div style="color:blue; border-top:1px dashed black; margin-top:3px;"><%= opinion.to_html2 %></div>
                    <% nb_opinions += 1 %>
                <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>
<h2><%= nb_reviews %> reviews, <%= nb_opinions %> opinions</h2>