<div class="pkz_box">
    <%= model_selector(@current_knowledge, :reviews) %>

    <table style="width:100%;">
        <tr><td colspan="4">
            <% form_tag "/reviews/index" do -%>
                reviews&nbsp;
                <%= link_to(image_tag("icons/backward.png", :border => 0), "/reviews?page=#{@reviews.prev.number}") if @reviews.prev? %>
                <%= (@reviews.number - 1) * @nb_reviews_per_page + 1 %> - <%= @reviews.number * @nb_reviews_per_page - 1 %> / <%= @nb_reviews %>
                <%= link_to(image_tag("icons/foward.png", :border => 0), "/reviews?page=#{@reviews.next.number}") if @reviews.next? %>
                <span style="margin-left:30px;  font-weight:bold;">in categories</span>
                    <% for category, weight in Review.categories %>
                <%= check_box_tag("source_categories[]", category, @source_categories.include?(category)) %><%= category %>
                <% end %>
                <span style="margin-left:5px; font-weight:bold;">in state</span>
                <% for state_name in Review.list_states %>
                    <%= check_box_tag("state_names[]", state_name, @state_names.include?(state_name)) %><%= state_name %>
                <% end %>
                <%= submit_tag "filter", :style => "margin-left:30px;" %>
            <% end -%>
            <hr/>
            <%= link_to("recompute status of all reviews...", "/reviews/recompute_all_states") %>
            <hr/>
        </td></tr>

        <tr>
            <th>status</th>
            <th>written</th>
            <th>products</th>
            <th>origin</th>
        </tr>
        <% for review in @reviews %>
            <tr>
                <td>
                    <%= object_state(review) %>
                    <span style="font-size:80%; margin-top:3px;">
                        <%= link_to("#{pluralize(review.paragraphs.count, 'paragraph')}, #{pluralize(Opinion.count(:review_id => review.id), 'opinion')}",
                                    "/edit_review/#{review.id}", :style => "color:orange;") %>
                    </span>
                </td>
                <td><%= review.written_at %></td>
                <td><%= review.products.collect { |p| link_to(p.label, "/product/#{p.idurl}", :style => "color:#00c0ff;")}.join(', ') %></td>
                <td><%= review.origin %></td>
            </tr>
        <% end %>
    </table>


</div>
