<div class="pkz_box">
    <%= model_selector(@current_knowledge, :reviews) %>

    <table style="width:100%;">
        <tr><td colspan="4">
            <% form_tag "/reviews/index" do -%>

                <div style="margin-top:5px;">
                    <span class="pkz_bold;">in categories</span>
                    <% for category, weight in Review.categories %>
                        <%= check_box_tag("source_categories[]", category, @source_categories.include?(category)) %><%= category %>
                    <% end %>
                </div>

                <div style="margin-top:5px;">
                    <span class="pkz_bold;">in state</span>
                    <% for state_name, state_datas in Review.list_states %>
                        <%= check_box_tag("state_names[]", state_name, @state_names.include?(state_name)) %>
                        <span style="background-color:<%= state_datas[:color] %>; padding:2px;"><%= state_datas[:label] %></span>
                    <% end %>
                </div>

                <div style="margin-top:5px;">
                    reviews&nbsp;
                    <%= link_to(image_tag("icons/backward.png", :border => 0), "/reviews?page=#{@reviews.prev.number}") if @reviews.prev? %>
                    <%= (@reviews.number - 1) * @nb_reviews_per_page + 1 %> - <%= @reviews.number * @nb_reviews_per_page - 1 %>
                    <%= link_to(image_tag("icons/foward.png", :border => 0), "/reviews?page=#{@reviews.next.number}") if @reviews.next? %>

                    <%= submit_tag "filter among #{@nb_reviews} reviews", :class => "pkz_next" %>
                </div>

            <% end -%>
            <hr/>
        </td></tr>

        <tr>
            <th width="200">status</th>
            <th width="100">written</th>
            <th>products</th>
            <th>origin</th>
        </tr>
        <% for review in @reviews %>
            <tr class="pkz_bottom_dashed">
                <td>
                    <%= object_state(review) %>
                        <%= link_to("#{pluralize(review.paragraphs.count, 'paragraph')}, #{pluralize(Opinion.count(:review_id => review.id), 'opinion')}",
                                    "/edit_review/#{review.id}", :class => "pkz_link") %>
                </td>
                <td ><%= review.written_at %></td>
                <td ><%= review.products.collect { |p| link_to(p.label, "/product/#{p.idurl}", :class => "pkz_link")}.join(', ') %></td>
                <td ><%= review.origin %></td>
            </tr>
        <% end %>
    </table>


</div>
