<div class="pkz_box">
    <%= model_selector(@current_knowledge, :reviews) %>

    <table style="width:100%;">
        <tr><td colspan="4">
            <% form_tag "/reviews/index" do -%>

                <div style="margin-top:5px;">
                    <span class="pkz_bold">In categories </span>
                    <% for category, weight in Review.categories %>
                        <%= check_box_tag("source_categories[]", category, @source_categories.include?(category)) %><%= category %>&nbsp;
                    <% end %>
                    <span class="pkz_next pkz_bold">not older than </span><%= select_date(@date_oldest, :prefix => "date_oldest") %>                                         
                </div>

                <div style="margin-top:5px;">
                    <span class="pkz_bold">in state</span>
                    <% for state_name, state_datas in Review.list_states %>
                        <%= check_box_tag("state_names[]", state_name, @state_names.include?(state_name)) %>
                        <span style="background-color:<%= state_datas[:color] %>; padding:2px;" class="pkz_small"><%= state_datas[:label] %></span>
                    <% end %>

                </div>

                <div style="margin-top:5px;">
                    <span class="pkz_bold">involving product</span>
                    <%= text_field_with_auto_complete "search", :related_product, { :size => 50, :value => (@related_product ? @related_product.label : nil) }, {:method => :get } %>
                </div>

                <div style="margin-top:5px;">
                    <hr/>
                    <span class="pkz_bold">output: </span>
                    <%= radio_button_tag "output_mode", "standard", @output_mode == "standard" %>html
                    &nbsp;<%= radio_button_tag "output_mode", "xml", @output_mode == "xml"  %>xml

                    <span class="pkz_small pkz_next">
                        limit to <%= text_field_tag "max_nb_reviews", @max_nb_reviews, :size => 2 %>reviews
                    </span>
                    <%= submit_tag "filter  #{@nb_reviews} reviews", :class => "pkz_next" %>
                    <%= link_to("reset", "/reviews/index", :class => "pkz_link pkz_small") %>

                </div>



            <% end -%>
            <hr/>
        </td></tr>

        <tr>
            <th width="200">status</th>
            <th width="100">written</th>
            <th>products</th>
            <th>origin</th>
        </tr>
        <% for review in @reviews %>
            <tr class="pkz_bottom_dashed">
                <td>
                    <%= object_state(review) %>
                        <%= link_to("#{pluralize(review.paragraphs.count, 'paragraph')}, #{pluralize(Opinion.count(:review_id => review.id), 'opinion')}",
                                    "/edit_review/#{review.id}", :class => "pkz_link") %>
                </td>
                <td ><%= review.written_at %></td>
                <td ><%= review.products.collect { |p| link_to(p.label, "/product/#{p.idurl}", :class => "pkz_link")}.join(', ') %></td>
                <td ><%= review.origin %></td>
            </tr>
        <% end %>
    </table>


</div>
