<div class="pkz_box">

    <%= model_selector(@knowledge, :reviews) %>


  
    <% form_for :review, @review, :url => { :action => "create" } do |f| %>

          <%= f.hidden_field :knowledge_idurl %>
          <%= hidden_field_tag :product_id, @product.id %>

          <%= render(:partial => "/reviews/form", :locals => {:knowledge => @knowledge, :review => @review, :f => f }) %>

          <p><%= submit_tag 'Create review' %></p>

    <% end %>


</div>