<div class="pkz_box">

    <%= model_selector(@knowledge, :reviews) %>

    <% feature_image = @knowledge.get_feature_by_idurl("main_image") %>
    <% product = @review.product %>
    <% image_url = image_tag(@knowledge.clean_url(feature_image.get_value(product), product), :width => 80, :height => 80, :align => "top", :border => 0) %>

    <div class="pkz_item_list">
         <table style=" background-color:white; width:100%; border:1px solid black; margin-bottom:10px;">
              <tr>
                <td valign="top" width=80><%= link_to(image_url, "/product/#{product.idurl}") %></td>
                <td valign="top">
                    <%= render(:partial => "/reviews/short", :locals => {:review => @review } ) %>
                </td>
              </tr>
         </table>

          <%= link_to("edit this review", "/reviews/edit/#{@review.id}") %>
          <% if @review.content %>
             or generate paragraphs by&nbsp;
             <%= link_to("none", :controller => "reviews", :action => "split_in_paragraphs", :id => @review.id, :mode => "none") %>,&nbsp;
             <%= link_to("&lt;P&gt;", :controller => "reviews", :action => "split_in_paragraphs", :id => @review.id, :mode => "p") %>,&nbsp;
             <%= link_to("&lt;BR&gt;", :controller => "reviews", :action => "split_in_paragraphs", :id => @review.id, :mode => "br") %>,&nbsp;
             <%= link_to("&lt;P&gt;&amp;&lt;BR&gt;", :controller => "reviews", :action => "split_in_paragraphs", :id => @review.id, :mode => "p_br") %>
             &nbsp, this will remove all opinions !
          <% end %>

          <% for paragraph in @review.paragraphs_sorted %>
              <div style="border:1px solid black; margin-top:5px; padding:5px; background-color:<%= @paragraph_selected_number == paragraph.ranking_number ? 'pink' : 'white' %>;">
                  <!-- the paragraph -->
                  <div id="<%= "paragraph_#{paragraph.id}" %>" >
                    <%= render(:partial => "/reviews/paragraph", :locals => { :review => @review, :paragraph => paragraph }) %>
                  </div>

                  <!-- the opinion editor -->
                  <div id="p<%= paragraph.id %>" style="background-color:white;" >
                  </div>
              </div>
         <% end %>

    </div>
</div>
