

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Pikizi<%= controller.action_name %></title>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "lightwindow.js" %>
  <%= javascript_include_tag "/codemirror/js/codemirror.js" %>

  <%= stylesheet_link_tag "lightwindow.css" %>
  <%= stylesheet_link_tag "gene" %>
  <%= stylesheet_link_tag "pkz_style.css" %>
  <%= stylesheet_link_tag "tree_table" %>

</head>

<body id="<%= compute_body_id("#{controller_name}/#{action_name}") %>">
<div id="wrapper">
	<div id="header">
    	<a href="/"><img src="/images/logo.png" /></a>
        <ul>
            <% if false %>
        	<li><a href="index.html">home</a></li>

            <li><a href="products.html">products</a></li>
            <li class="last"><a href="#">log in / sign up</a></li>
            <% else %>
            <li><a href="/home">home</a></li>
            <li><a href="/my_quiz">advisor</a></li>
            <li><a href="/products_search">products</a></li>
            <li><a href="/opinions">admin</a></li>
            <li class="last">
              <% if logged_user = controller.get_logged_user and !logged_user.is_unauthorized %>
                welcome <%= logged_user.rpx_username %><%= link_to "logout", "/logout" %>
              <% else %>
                <%= link_to "login", "/login" %>
              <% end %>
            </li>
            <% end %>
        </ul>

        <div id="search_box">
          <% form_tag '/products_search', :id => "search_form" do -%>
              <%= text_field_tag "s", Product.default_search_text, :class => "swap_value" %>
        	  <input type="image" src="/images/gene/trns.gif" width="22" height="22" id="go" alt="Search" title="Search">
          <% end -%>
    	</div>
    </div>
    <%= yield %>

    <div id="footer">
    	<ul>
        	<li><a href="#">about</a></li>
            <li><a href="#">news</a></li>
            <li><a href="#">contact</a></li>
            <li class="copyRight">&copy;2009 pikizi <%= ApplicationController.release_version %></li>
        </ul>

    </div>
</div>
</body>
</html>
