<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Pikizi Engine <%= controller.action_name %></title>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "lightwindow.js" %>

  <%= stylesheet_link_tag "lightwindow.css" %>
  <%= stylesheet_link_tag "pkz_style" %>
  <%= stylesheet_link_tag "gene" %>

</head>

<body id="<%= compute_body_id("#{controller_name}/#{action_name}") %>">


<p style="color: green"><%= flash[:notice] %></p>

<div id="wrapper">
	<div id="header">
    	<a href="index.html"><img src="/images/gene/logo.png" /></a>
        <ul>
        	<li><a href="/">home</a></li>
            <li><a href="/test_quizz">advisors</a></li>
            <li><a href="/test_results">results</a></li>
            <li><a href="/test_products">products</a></li>
            <li><a href="/knowledges">admin</a></li>
            <li class="last">
              <% if controller.get_logged_ar_user %>
                welcome <%= controller.get_logged_ar_user.rpx_username %><%= link_to "logout", "/logout" %>
              <% else %>
                <%= link_to "not logged", "/login" %>
              <% end %>
            </li>
        </ul>

        <div id="search_box">
        <form id="search_form" method="post" action="/">
        	<input type="text" id="s" value="search products and advisors" class="swap_value" />
        	<input type="image" src="/images/gene/trns.gif" width="22" height="22" id="go" alt="Search" title="Search" />
        </form>
    	</div>
    </div>

    <%= yield %>

    <div id="footer">
        <ul>

            <li><a href="#">about</a></li>
            <li><a href="#">news</a></li>
            <li><a href="#">contact</a></li>
            <li class="copyRight">&copy;2009 pikizi</li>
        </ul>
    </div>
</div>


</body>
</html>
