

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Pikizi Engine <%= controller.action_name %></title>
  <link rel="shortcut icon" href="/favicon.ico" />

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "lightwindow.js" %>
  <%= javascript_include_tag "/codemirror/js/codemirror.js" %>
  <%= javascript_include_tag "treetable.js" %>

  <%= stylesheet_link_tag "lightwindow.css" %>
  <%= stylesheet_link_tag "gene" %>
  <%= stylesheet_link_tag "pkz_style.css" %>
  <%= stylesheet_link_tag "tree_table" %>
</head>

<body id="<%= compute_body_id("#{controller_name}/#{action_name}") %>">
    <div id="wrapper">

        <div class="box952" style="height:430px; margin-top:50px; text-align:center;">
            <div style="width:100%; margin-top:20px;">
                <img src="/images/h_logo.png" />
            </div>
            <div style="width:100%; margin-top:20px; font-size:130%;">
                Pikizi is currently in Private Beta
            </div>

            <%= yield %>
        </div>

        <div id="footer">
            <ul>
                <li><a href="#">about</a></li>
                <li><a href="#">news</a></li>
                <li><a href="#">contact</a></li>
                <li class="copyRight">&copy;2009 pikizi <%= ApplicationController.release_version %></li>
            </ul>

        </div>
    </div>
</body>
</html>







